[2018-03-27 20:12] Serg-de-Adelantado opened #1 "Incorrect processing of long file paths"
Brightscript debugger may return trimmed path to source file on [`bt` command](https://github.com/TwitchBronBron/vscode-brightscript-language/blob/3559c91cdeb1c768af335ee4ad5a24ef5b7b9c2c/src/RokuAdapter.ts#L310) for long paths(3 or 4 nested folders), which cause error in VS Code(file not found) and makes impossible further debugging of such a file. AFAIK, there are no commands to disable such beh

[2018-03-29 10:52] TwitchBronBron commented on #1
Interesting! I'll try to take a look at this soon and see what I can come up with to solve all of the issues.

[2018-03-31 11:58] Serg-de-Adelantado commented on #1
Thank you for the update, it is even better then my current solution, since it may handle duplicates in some cases. It will be a nice addition to print duplicates warning into debug console while [making a map of trimmed paths](https://github.com/TwitchBronBron/vscode-brightscript-language/blob/2c67463f07458595141b830f54480d02d5dd1a4c/src/brightScriptDebugSession.ts#L390).

[2018-06-26 13:47] avoltis opened #2 "Request: Attach to debug"
Hi,
nice work :),
as some project dont follow the structure defined,  is it possibile to define what folders/files to include  in the zip thats build, or if its possibile to have an attach to running apps on the roku device.
Thanks 👍

[2018-06-27 13:15] avoltis commented on #2
Hi :),
Thanks for explaining the workflow, and yeah i realized that the problem i get is that when the package is build it doesn't get  the .json configuration files i have inside the project folder. if i do the zip manually and insert them  its ok (on terminal debug), Thats why i need those config.json to be included, or if it was possibile to select manually which zip to upload to roku.
I dont h

[2018-06-27 13:45] avoltis commented on #2
hi again @TwitchBronBron  i managed to find a workaround, i replaced the config where requested in code and it works,

nice job :)

[2018-06-27 13:45] #2 closed

[2018-07-10 11:12] evgygor opened #3 "Update the version of "brightscript-formatter" to 1.2.0"
In package.json please update the version of dependency "brightscript-formatter" to 1.2.0

Thanks

[2018-07-14 04:01] pixshatterer opened #4 "Enable ECP/Deep Linking"
Is there a way to pass arguments to simulate deeplinking while debugging?

[2018-07-17 22:04] kbunch opened #5 "Need an option to include extra files in deploy"
We include other files in our deploy, config files, etc. It seems like roku_deploy has options to add these in, but I at first glance I'm not seeing the option for the launch.json in the extension.

[2018-07-18 01:34] TwitchBronBron commented on #4
Not currently, no. Would another launch.json setting work for you? The new setting could be called "deepLinkUrl".  Something like this:

[code]

[2018-07-18 13:15] kbunch commented on #5
@TwitchBronBron Best scenario would be defining files and what the would map to in the end output vs simply the files to include (since some mappings might be different). Currently we have custom build scripts that create "flavors" of the app.
For example, we may have
flavors/shared/resources/fonts
flavors/spanish/prod/resources/config/config.json
flavors/spanish/dev/resources/config/config.json

[2018-07-18 14:40] pixshatterer commented on #4
that would be awesome! also an unrelated question - the plugin uses a `rokudeploy.json` while deploying? since it uses `roku-deploy`  module, I wondered if that was the case.

[2018-07-18 14:41] kbunch commented on #5
It appears that adding a rokudeploy.json doesn't work, but the files property although "not supported" does work as a pass thru. The only issue is that the file paths don't all resolve correctly and we can't map them. Thus it seems like the change may be less on this project and more on roku deploy. Looking into this some.

[2018-07-18 17:05] kbunch commented on #5
@TwitchBronBron I was able to make a simple change to the roku deploy script where rather than create absolute paths for ever file within a folder, etc that it just copied complete directories (which is probably way more efficient). In addition, I allowed the definition of src and dest for the files entry. All of this works like a charm and makes me very happy. Hopefully you can add this in and ma

[2018-07-25 11:00] TwitchBronBron commented on #5
I like it! Would you be willing to submit a pull request to the[ roku-deploy](https://github.com/TwitchBronBron/roku-deploy) project with your changes? Then I will update the task information for this extension to make it more obvious which roku-deploy settings can be specified in the launch configuration.

[2018-07-25 11:03] TwitchBronBron commented on #4
Yes, you should technically be able to use a rokudeploy.json file. I believe the `files` property doesn't work in rokudeploy.json when using this extension, and there may be a few others that get overridden by this extension.

However, an undocumented alternative to rokudeploy.json is that you can actually specify rokudeploy.json settings directly in your launch configuration. I pass the entire la

[2018-09-21 20:21] TwitchBronBron commented on #5
@kbunch I finally got some time to put this together. I updated the `roku-deploy` project with your proposed {src;dest;} concept. Could you `npm install` the latest version of `roku-deploy` ([v0.2.0-beta1](https://www.npmjs.com/package/roku-deploy/v/0.2.0-beta1)) directly in your project and run a few tests to make sure it solves your issues? I don't want to release a new version of vscode-brights

[2018-09-24 12:30] avoltis commented on #5
Hi @TwitchBronBron , i wanted to use the same feature, but it gives me an error when trying to add a config file with the "file" property: Property files is not allowed.
Any suggestions?

[2018-09-24 14:10] TwitchBronBron commented on #5
@avoltis, this functionality only exists in the `roku-deploy` package right now, and is not yet in the `vscode-brightscript-language` extension. I was hoping that @kbunch would verify that it solves his needs using just `roku-deploy`, then I'll release a new version of `vscode-brightscript-language` with the upgraded `roku-deploy` package.

[2018-09-26 12:03] avoltis commented on #5
Hi @TwitchBronBron , just tested with rokudeploy.json included extra files and it is working fine :)  let us know when you release the new version 👍
Attached config:
![image](https://user-images.githubusercontent.com/10733288/46078602-f1273800-c194-11e8-8b71-9d6da1b050c7.png)

[2018-09-27 10:00] TwitchBronBron commented on #5
@avoltis, I just released version 1.2.1 of the extension which includes this change. Can you test and make sure it's working?

[2018-09-27 11:47] avoltis commented on #5
@TwitchBronBron hi, yeah i did test it this morning. It is working 👍
Thank you !

[2018-09-27 11:59] #5 closed

[2018-09-27 14:29] kbunch commented on #5
My apologies, I ran an Ironman this past weekend and have been in CT this week with a client. I'll check when I get home to see if its working how we tweaked it. Many thanks ahead of time!

[2018-09-28 14:39] kbunch commented on #5
@TwitchBronBron its working 👍. Have a new request now ;). We write test files to run various tests while we are writing out all the logic. We stuff all of those files under components/test. These get pushed out to the end zip unless we exclude them in some way. Wondering if it makes sense to add an exclude value as a property to src, dest object OR if we add a way to run a post process node script

[2018-10-02 21:12] TwitchBronBron commented on #5
I think you can accomplish this specific use case using a glob pattern (which roku-deploy already supports).

Change your glob pattern for the components folder to this (include all subfolders EXCEPT the test folder):

[code]

Does that solve your issue?

[2018-10-23 16:39] kbunch commented on #5
@TwitchBronBron That doesn't seem to work, trying different patterns, but I can't get it to move all the subfolders over to the components directory. We have folders like... yourdomain/app/content/utils/Foo.brs.

[2018-10-29 10:54] TwitchBronBron commented on #4
I just wanted to give you an update. I started working on the "launch directly to deep link" concept a while back, and made some progress. Life just got busy. It's possible, and I'll try to get to it sometime soon...but just wanted to give an update saying that work has at least been started.

[2018-11-10 19:39] HeroSpha opened #6 "How to use"
Kindly please include how to use this extension. do i have to clone your repo? or i just install it. im new to Brightscript.. im stuck, i cant do anything at all.. The other thing, you mention launch config file, but i dnt know where to put it, and its name. I looked into your repo, there is a launch.json, but its different from the read me. Also can you point out which **host** is required, and w

[2018-11-10 19:55] TwitchBronBron commented on #6
This project is the repository for a "Visual Studio Code" extension. "Visual Studio Code" is an open source editor created and maintained by Microsoft. So you first need to install Visual Studio Code from [here](https://code.visualstudio.com/download). Then, using the Visual Studio Code Extensions tab, install the extension ([here's a tutorial](https://code.visualstudio.com/docs/editor/extension-g

[2018-11-16 22:43] georgejecook opened #7 "what's the status of this project/debugging?"
Hi, I can see this is in active development; and that you have an adapter for telnet, which is mighty impressive.

I've got a plugin which does symbol regonition, defitintions, and some other stuff, which I'm actively working on.. and I'm trying to work out what to do with it.. ~~I'm almost certainly going to roll my own; but thought we should get in touch - we can probably swap features~~ |hang t

[2018-11-16 23:12] georgejecook commented on #7
Okay - I just tried out your debugger. it's awesome. I've forked, and will park my stuff in there, and send you prs..
you can find me on the roku developer slack group: georgejecook - I made rooibos https://github.com/georgejecook/rooibos/tree/master/docs which I'm going to integrate with vscode..

We should talk - rooibos is a lot of work for me, and I'm always improving my workflow and tools - I

[2018-11-17 01:36] georgejecook opened #8 "How can we use this with custom builds? Is there a mapping option?"
Hi,

This is similar to https://github.com/TwitchBronBron/vscode-brightscript-language/issues/5; but slightly different. We use gulp to build different versions of our project (i.e. include test files/different config files, etc). Is there a way we can launch the app; but map it so I can run my gulp build task first, and have vscode-brightscript-language and roku-deploy inject the stop commands in

[2018-11-17 12:50] TwitchBronBron commented on #8
I love the idea, and would be more than open to having this included in the project if needed!

I think vscode already supports this concept though? In the launch.json, there's a setting called `preLaunchTask`. You could use that to fire off a vscode task in tasks.json which runs your gulp build, and when it finishes, the debugger could then kick off the debugger stuff.

The downside to this appro

[2018-11-17 13:00] TwitchBronBron commented on #7
Thanks! I would be more than happy to accept PRs for whatever makes this extension better and makes roku developers' lives easier. Your symbol recognition and definitions would be most welcome!

Just curious, how do you see rooibos fitting in to this extension?

[2018-11-17 13:32] georgejecook commented on #7
I'm going to implement this for rooibos.

I was thinking it would be part of my own vscode Roku plugin but seeing as
yours is so we'll developed i figure it will likely be its own thing now.

https://marketplace.visualstudio.com/items?itemName=hbenl.vscode-mocha-test-adapter

So I'll start contributing symbols and other relevant items to your project
and create this other one for just the rooibos

[2018-11-17 16:51] georgejecook commented on #8
*The downside to this approach is that the breakpoints would need to be in the build folder's copy*

Yes - this is it in a nutshell.. assuming the gulp process is not changing line offsets, what can we do? This will be the difference between me using your plugin or not next week. On a project crunch, so I can't invest oodles of time into working around this.. and I'm really really keen to dogfood

[2018-11-18 01:30] TwitchBronBron commented on #8
So, assuming for a moment that all of the files in src are in the exact same locations as dist, I think this would be an easy addition to the extension. Roku reports debug file names relative to the root of the package. So, when I get that debug file name, I convert that path back to the workspace folder path (which is the `"rootDir"` variable in the launch configuration).

I can add another launc

[2018-11-18 02:08] TwitchBronBron commented on #8
I just pushed a commit to the repo that I think solves this for any files that have the exact same file contents and file path in source and destination. Pull it down and let me know what you think.

[2018-11-18 02:31] georgejecook commented on #8
cool! and thanks a bunch. I'm checking it out now. not sure if I have it as intended; because I still see the same thing - none of my fonts are in the built app, which to me suggests that it wasn't using the output of the prebuild task (which I've verified is working).. here's my config

[code]

[2018-11-18 13:04] georgejecook commented on #8
Thanks. I'll try that and let you know.

On Sun, Nov 18, 2018, 7:28 AM Bronley Plumb <notifications@github.com wrote:

[2018-11-19 01:50] georgejecook opened #11 "support formatting of selection as well as whole documents."
pr waiting for you: https://github.com/TwitchBronBron/vscode-brightscript-language/pull/10

[2018-11-19 03:16] TwitchBronBron commented on #8
@georgejecook did this work for you (I'm anxious to know!).

[2018-11-19 03:16] TwitchBronBron commented on #11
PR looked good. Thanks for your contribution. Great work!

[2018-11-19 03:16] #11 closed

[2018-11-19 03:35] TwitchBronBron commented on #6
You're welcome! If you find any issues with the extension, please feel free to open another issue!

[2018-11-19 03:35] #6 closed

[2018-11-19 03:46] TwitchBronBron opened #12 "Release Methodology"
This issue is a place to discuss how this project should handle releases. Should there be some type of release cadence, or should releases be done on-demand as new features arrive.

[2018-11-19 03:48] TwitchBronBron commented on #12
your plugin to include these changes and perhaps plan some cadence for
updates?

I'm open to some type of weekly/semi-weekly/monthly release cadence (obviously skipping any of those iterations that haven't had changes). However, since this is a lower-key project, I would think getting releases out as soon as new features arrive would be more preferable?

In general, I wouldn't see any benefit in h

[2018-11-19 13:57] georgejecook commented on #8
Will let you know presently.

On Sun, Nov 18, 2018, 10:16 PM Bronley Plumb <notifications@github.com
wrote:

[2018-11-19 15:22] georgejecook commented on #8
Took some debugging; but I worked it out, and it works perfectly:   t h a n
k s !!

I needed add this to my config (you might want to add this to your docs, if
you document the feature)

"files": [
"*",
"*.*",
"**/*.*",
],

Thanks!

George

On November 19, 2018 at 8:56:05 AM, George Cook (george@tantawowa.com)
wrote:

Will let you know presently.

On Sun, Nov 18, 2018, 10:16 PM Bronley Plumb <noti

[2018-11-19 17:24] georgejecook opened #13 "Improve links to files in console output"
Would be handy if they were highlighted, and hyperlinks like in eclipse plugin - this makes it easy to go straight to compile errors.

[2018-11-19 17:43] georgejecook opened #14 "improve feedback for when terminal sesison is unavailable"
Had a terminal session open elsewhere and the debug session simply hung. no warning no failure. Thankfully I'm not such a n00b; but had I not delved in your code, what had transpired wouldn't've been clear without some degree of inference

[2018-11-19 17:52] georgejecook opened #15 "debug output in console must be searchable"
Search/find doesn't work on console output, currently.

This issue suggests redirecting to terminal, which doesn't work.

https://github.com/Microsoft/vscode/issues/4338

I'm not sure what the solution would be in this case; but it's really painful to not be able to search. I'm not sure how hard it is to have a custom component for all of the telnet output..

[2018-11-19 20:35] TwitchBronBron opened #16 "Show breakpoints as disabled after initial launch"
Due to the way this extension handles breakpoints (adds `stop` lines to the source code before deploy), it is not possible to add breakpoints after a debug session has begun. As such, any breakpoints added after the debug session starts should be marked as inactive so the user knows not to depend on those breakpoints.

[2018-11-19 21:01] #16 closed

[2018-11-19 21:08] TwitchBronBron commented on #4
@pixshatterer I just pushed [this branch](https://github.com/TwitchBronBron/vscode-brightscript-language/tree/feature/deep-linking) with my first attempt at supporting deep linking. Can you pull down the code and try it out and let me know how it goes?

[2018-11-19 21:09] TwitchBronBron commented on #7
Closing this issue as I think we are already well on our way to integrating many of your changes.

[2018-11-19 21:09] #7 closed

[2018-11-19 21:11] TwitchBronBron commented on #8
With my simple example locally, I was able to use this feature without needing to do that. Would you be able to provide a sample repo that showcases why you needed to override the files array?

[2018-11-19 21:11] georgejecook commented on #12
Sounds good to me. Informal releases when you've got time, is way more desirable than big planned milestones. We can revisit later, as you require.

I'm totally dog-fooding as well, and with the active guys on slack starting to use it, this will help as well.

are you on the slack channel? there's a #tooling channel in there.

[2018-11-19 21:17] georgejecook commented on #8
I’ll try get you something over the next couple of days - it’s tough coz
I’ve worked around it, and I’d need to make a custom repo.. you’ll likely
get this next week tbh - seeing as it’s non-critical for me.

On November 19, 2018 at 4:11:17 PM, Bronley Plumb (notifications@github.com)
wrote:

With my simple example locally, I was able to use this feature without
needing to do that. Would you be ab

[2018-11-20 01:16] georgejecook opened #18 "can we get better compile error notifications?"
Currently, we get a dialog box - it's not great to work with...

I tinkered with using diagnostics.. It would mean getting the list of compile errors, and updating the compile collection for each of the mentioned documents, as such:

[2018-11-20 02:49] TwitchBronBron commented on #18
Yeah, definitely interested in this. Love the idea. I will take a look at it tomorrow if you haven't stayed up all night fixing it by then. 😉

[2018-11-20 13:43] georgejecook commented on #18
WIP commit. Easier to see than my other branch, now that you merged all my other contributions down: https://github.com/TwitchBronBron/vscode-brightscript-language/pull/19

[2018-11-20 14:12] georgejecook opened #20 "Can we use the latest version of brightscript-formatter, pelase?"
not sure if that's a PR for brightscript-formatter, here, or both..

I'm having to hardcode my changes for the interim as the current npm for brightscript-formatter doesn't include the if..then.. fix

[2018-11-20 14:32] georgejecook opened #21 "Create field"
should have quick fix to create a field in the xml document, when unknown m.top.symbol is detected in brs file.

[2018-11-20 14:33] georgejecook opened #22 "Create onChange handler"
should be able to create an onchange handler in corresponding brs file, when cursor is in an onchange param of a field declaration in xml file

[2018-11-20 14:34] georgejecook opened #23 "Remove if"
leveraging formatter, should be trivial to remove an if statement surrounding a block. Would be handy to have

[2018-11-20 14:34] georgejecook opened #24 "feature request: navigate to xml component"
when on a tag such as `<MyCustomButton`, then pressing F12, should go straight to MyCustomButton.xml

[2018-11-20 14:35] georgejecook opened #25 "Navigate to handler"
when on a handler in an xml file, pressing f12 should go to the impl.

e.g. `<field id="title" type="string" onChange="onTitleChange" />` should be able to navigate straight to `OnTitleChange` function in the backing brs file

[2018-11-20 14:41] georgejecook opened #26 "implement grow/shrink selection"
should be fairly trivial given the quick and marvellous bright parser

[2018-11-20 16:12] georgejecook opened #27 "Implement folding for if statements"
folding does not fold entire if statements; just to next else/else if clause

[2018-11-20 16:14] georgejecook opened #28 "do not count m.top as a symbol"

[2018-11-20 16:20] georgejecook opened #29 "Implement go to next/previous function"
I currently use this plugin : https://github.com/mishkinf/vscode-goto-next-previous-member/blob/master/src/extension.ts

but it lists all members. I've opened a PR there; but it might be just as nice to lift his code and bring it into the vscode plugin for brightscript, seeing as we have speficic needs he might not have time to address...

Mainly we have 3 options I see as being valid/useful;
1. G

[2018-11-20 20:05] pixshatterer commented on #4
@TwitchBronBron sure! how would be the usage? it is still the `"deepLinkUrl"` property the one to use?

[2018-11-20 20:13] TwitchBronBron commented on #4
Yep, that's the one! Use "deepLinkUrl". You can use the ${host} placeholder in that url if you don't want to duplicate the hostname, but I would test it out with a full url at first to make sure it's working.

[2018-11-20 20:15] pixshatterer commented on #8
@TwitchBronBron would love to see this already available!

[2018-11-20 20:16] pixshatterer commented on #12
+1 to what @georgejecook said

[2018-11-20 20:21] georgejecook commented on #8
I think this is already merged @pixshatterer  - check the commit history - you can use the interim build until @TwitchBronBron pushes out tonight

[2018-11-20 20:40] TwitchBronBron opened #31 "Do not add the stop line when stopOnEntry is false."
When launching a debug session with `stopOnEntry` set to `false`, is there a way to NOT add the `stop` entry in the source code. Currently the debugger watches for that initial stop so it knows when to start listening for error events, breakpoints, etc.

However, there may be another way that truly avoids that stop entry alltogether, while still accomplishing the same goal.

[2018-11-20 20:43] #20 closed

[2018-11-20 21:31] TwitchBronBron opened #32 "Add file icon for .brs files"
VSCode shows images next to the file for known file types, like this:
![image](https://user-images.githubusercontent.com/2544493/48804094-b3044b80-ece1-11e8-89e6-3b788248cef8.png)

We should create an icon for the brightscript .brs extension.

[2018-11-21 09:39] georgejecook opened #34 "Support completion on <script> tag"
should be possible to autocomplete a filename to get options of full paths for a script tag.

e.g. in an xml file, typing the following

```  <script type="text/brightscript" uri="NetMixi" />```

and activating  completing should result in:

```  <script type="text/brightscript" uri="pkg:/source/Mixins/NetMixin.brs" />```

[2018-11-21 11:51] georgejecook opened #35 "debugger can cause crashes on tasks waiting on messages"
I find when debugging tasks that code like this can cause crashes:
[code]

[2018-11-21 12:03] TwitchBronBron commented on #35
When you say crashes, what do you mean? Does the extension stop debugging? Does it just get stuck?

[2018-11-21 12:56] georgejecook commented on #35
Causes app to crash.

I get this sometimes debugging without the plugin; but it seems to happen
more with the plugin.

I'll submit a video.

On Wed, Nov 21, 2018, 7:03 AM Bronley Plumb <notifications@github.com wrote:

[2018-11-22 12:48] georgejecook opened #36 "debugger occasionally cannot resolve threads - will just hang on a runtime error"
this code from brightscriptDebugSession will sometimes crash on ` threads[0].threadId` - `threadId` is not defined.. :
[code]

[2018-11-22 14:13] georgejecook commented on #36
here's the error

[code]

[2018-11-24 14:32] kbunch opened #39 "11/20 release broke builds (EACCES: permission denied, mkdir/'out')"

[2018-11-24 14:50] kbunch commented on #39
@TwitchBronBron the outDir is now required where it wasn't before. Just make note of that since it caused builds to break

[2018-11-24 14:50] #39 closed

[2018-11-26 05:46] evgygor commented on #34
My solution:
By the default VSCODE doesn’t support formatting of the XML files.

There are two extension that closes this gap:
1.	XML Tools (by Josh Johnson) – provides basic XML formatting.
2.	Auto Close Tag (by Jun Han) – auto closes tags

Installation – via vscode extensions.

Configuration – add the following lines to the C:\Users\<USER>\AppData\Roaming\Code\User\settings.json and reload the v

[2018-11-26 05:55] evgygor opened #40 "Go to definition/Peak definition works only in the same file"
Go to definition/Peak definition works only in the same file, so I think the readme should be updated with the info

[2018-11-26 11:47] georgejecook commented on #34
This doesn't address the issue though. The plugins you suggest don't
understand PKG URI resolution, nor the root folder config of the
brightscript plugin. I suggest you read my issue again and look at the code
example provided to fully understand what I'm proposing.

On Mon, Nov 26, 2018, 12:46 AM Evgeny Gorelik <notifications@github.com
wrote:

[2018-11-26 12:47] evgygor commented on #34
It was workaround for xml management and formatting :)

[2018-11-26 12:54] georgejecook commented on #34
Yes. I appreciate that; but that's just noise as far as the ticket is
concerned. I already have several xml plugons as I imagine do most vscode
users.

You could just as well suggest an xml coloriser plugin: it had nothing to
do with the actual issue and has now taken the real conversation on a
tangent : worse still, a busy maintainer may have skimmed your comment and
closwd  the issue, which mean

[2018-11-26 19:31] evgygor commented on #34
You are little bit aggressive :)
Take a deep breath, we all want this beautiful program to be even better ;-)

[2018-11-26 20:15] georgejecook commented on #34
??

If you take professional criticism as aggression that's your personal choice. Perhaps English is not your first language and you struggled to understand my examples. I apologize if I'm did something that enabled you to misconstrue constructive feedback re: your git conduct as aggression.

I will further add that I think calling someone a little bit aggressive is absolutely unacceptable. Name c

[2018-11-26 21:57] evgygor commented on #34
Apologies accepted.
Thanks.

[2018-11-29 01:03] georgejecook opened #42 "check if debugging session is out of sync"
We could feasibly check the line of code from the debugger against the code in the editor and warn the user if they are not the same.

This could help programmer's avoid debugging stale/non-updated deployments or spot problems with their deployment scripts.

use case: I've found quite a few times I _think_ my deploy has worked; but it has not and I've launched a prior version of the app.

Another

[2018-11-29 12:05] TwitchBronBron commented on #42
What causes the debugging session to get out of sync? Is there a compile error, or perhaps an issue with the zip file bundling? Because in the normal flow, the extension deletes any previous zip file and intermediary source files, makes the zip file from current sources, and then deploys. So I can't think of any way for a deployment to become out of sync....it should always have latest.

Is it pos

[2018-11-29 12:07] TwitchBronBron commented on #36
This is a hard one to debug. Could you provide a sample repository that reproduces the issue? My guess is that this is some type of timing issue, but as such, it's still really hard to track down without a working example (even if the example only fails 1/4 of the time, that's better than nothing).

[2018-11-29 12:48] georgejecook opened #43 "debugger can become inoperational when changing ip address on roku"
if I change my roku's network (I do this a lot due to VPN), the telnet connection get's gummed up and I need to restart the vscode plugin AND my roku box.

Not sure if this is a roku issue; didn't test against eclipse/telnet for example.

[2018-11-29 14:59] claysquareninety opened #44 "Debug/Deploy fails to make 'out' dir on macOS"
`vs code EACCES: permission denied, mkdir '/out'`

This occurs in 1.3.0 on macOS High Sierra (10.13.2) regardless of the owner and permissions of my workspace folder, existing 'out' directory, etc. Downgrading to vscode-brightscript-language@1.2.2 fixes this issue for me.

Now that I look at the error message again, is it trying to create my 'out' dir in '/'? Is there a new setting for this?

[2018-11-29 15:31] claysquareninety commented on #44
Yes, that's what it was set to:

[code]

[2018-12-03 23:28] georgejecook opened #46 "support enable/disable breakpoints"
It should be possible to inject code into an app such that we can create a `global._vsCodeIdeBreakpoints` map, which contains true/false states for all breakpoints. We can then, instead of injecting STOP into the code, inject something long the lines of
`if m.global._vsCodeIdeBreakpoints[breakpointId] = true then stop`

We will need an expanded guard, because global might not be available in some

[2018-12-03 23:29] georgejecook commented on #8
should this be closed @TwitchBronBron ? It's working fine for me.

[2018-12-03 23:31] georgejecook commented on #13
can you assign this to me @TwitchBronBron ? I'm happy to implement it.

[2018-12-03 23:32] georgejecook commented on #15
can you assign this to me @TwitchBronBron ? I've already implemented this and have a PR waiting for you.

[2018-12-03 23:32] georgejecook commented on #18
can you assign this to me @TwitchBronBron ? I've got a WIP PR which I'll add tests to this week.

[2018-12-03 23:35] georgejecook commented on #40
I've got a branch in progress which fixes these issues, which will land later this week.

[2018-12-03 23:38] georgejecook commented on #42
thinking about it; this is a very specific use case of mine (testing side-loaded builds with deeplinking; but hijacking the debug session). I'll close it.

[2018-12-03 23:38] #42 closed

[2018-12-04 11:50] TwitchBronBron commented on #8
@georgejecook I left it open because you mentioned needing to use a catchall wildcard list for the files array, whereas for my test project I didn't need to override those at all. I was hoping you would provide some type of sample project that would let me investigate why that was needed, and fix the bug if possible.

[2018-12-04 11:50] TwitchBronBron commented on #12
Yeah I'll close this.

[2018-12-04 11:50] #12 closed

[2018-12-04 11:57] TwitchBronBron commented on #46
VSCode alerts the extension anytime a breakpoint is added, removed, or disabled in the source code. As such, the extension already detects when a STOP statement is hit, and could easily decide whether to actually break or just continue for disabled/removed breakpoints.

What's the advantage of your approach over what I mentioned above?

[2018-12-04 13:00] georgejecook commented on #46
1. Stopping is slow as hell - especially in an SGNode. So stopping and auto
continue using would just mean the app hangs. In even a moderately right
loop it would be untenable.

2. in many cases continue crashes the aop. There's an existing issue which
prevents rokus from recovering from a stop - all wait loops in the tasks
and main progressively fail with invalid or incorrect event message data.

[2018-12-04 13:06] georgejecook commented on #8
Ah sorry I forgot that.

I'll get you a sample project in the future; I'm afraid thats not high
priority for me and replicating a large client project is not an
insignificant task. Perhaps better close this and have a more specific
ticket for the actual issue? That way you might get others respond.. IMHO
you resolved this original ticket and this is a distinct issue. For
example, what if every tim

[2018-12-04 13:09] georgejecook commented on #8
And on that note; I should've raised a distinct ticket.. I didn't because I
thought my workaround is fine.. if you want I can raise that. Let me know.

On Tue, Dec 4, 2018, 8:04 AM George Cook <george@tantawowa.com wrote:

[2018-12-05 13:08] TwitchBronBron commented on #8
Yeah, go ahead and raise another issue so we can track it.

[2018-12-05 13:08] #8 closed

[2018-12-05 22:34] #44 closed

[2018-12-06 22:12] TwitchBronBron commented on #44
@claysquareninety version 1.3.1 of the extension resolved this issue. Try it out and let me know if that resolved the issue for you!

[2018-12-06 22:47] claysquareninety commented on #44
Works great, thanks!

On Thu, Dec 6, 2018 at 4:12 PM Bronley Plumb <notifications@github.com>
wrote:

[2018-12-07 06:38] piyushg098 opened #50 "Unable to find an entry point. Please make sure that you have a RunUserInterface or Main sub declared in your BrightScript project"
Getting this error when trying to launch the app with debugging.
My main.brs has function main(args as Dynamic) not sub main() because of Deep linking integration.
![screen shot 2018-12-07 at 12 07 25 pm](https://user-images.githubusercontent.com/17822423/49631618-b5241500-fa18-11e8-81fc-cd8aa95bdb8c.png)

[2018-12-07 11:48] TwitchBronBron commented on #50
I'm able to reproduce this locally. I'll work on a fix and try to get a release out in the next day or so. Thanks for bringing this to my attention!

[2018-12-07 12:07] #50 closed

[2018-12-08 02:29] TwitchBronBron commented on #4
@pixshatterer Have you had a chance to look at this change yet? I'd love to get it merged into master, but I want to make sure it works for a proper roku app (not just my test apps) before I do.

[2018-12-09 05:05] piyushg098 commented on #50
@TwitchBronBron Could you provide the update link since this one here:
https://code.visualstudio.com/updates/v1_29
Says 1.29 as the latest and I too have this version on my Mac. Check for updates says there's not a one for now.

[2018-12-09 12:36] TwitchBronBron commented on #50
The 1.29 you're talking about is the Visual Studio Code version. I meant version 1.3.2 of the vscode-brightscript-language extension (this project). If you go to [this link]( https://marketplace.visualstudio.com/items?itemName=celsoaf.brightscript), you should see the version number in the info on the right.

Also, in your extensions area of Visual Studio Code, it should show you versoin 1.3.2 for

[2018-12-09 17:11] georgejecook commented on #40
@TwitchBronBron I think this is resolved, right?

[2018-12-09 17:13] georgejecook commented on #25
This is resolved in: https://github.com/TwitchBronBron/vscode-brightscript-language/pull/52

[2018-12-09 17:14] georgejecook commented on #18
This is resolved

[2018-12-09 17:14] #18 closed

[2018-12-09 17:14] georgejecook commented on #15
This is resolved

[2018-12-09 17:14] #15 closed

[2018-12-09 17:29] georgejecook opened #53 "Need test launch config support"
Would be great to have additional launch configs for test, which will pass in the requisite launch params to activate the unit testing framework (such as: [https://github.com/georgejecook/rooibos/blob/master/docs/index.md#configuring-rooibos](https://github.com/georgejecook/rooibos/blob/master/docs/index.md#configuring-rooibos) - note rooibos has the same runtime setup as the official Roku Unit te

[2018-12-09 19:14] evgygor commented on #40
Works very well!
I have several cases that 'go to definition' or  'peek...' does not work.
How can I assists with debug?

[2018-12-09 19:39] georgejecook commented on #40
cool. In that case, close this issue (because it does work in the same
file, so this is resolved) and to help us debug, open a new issue with the
details for the specific case. Code snippets will really help.

On December 9, 2018 at 2:14:50 PM, Evgeny Gorelik (notifications@github.com)
wrote:

@TwitchBronBron <https://github.com/TwitchBronBron> I think this is
resolved, right?

Works very well!
I

[2018-12-09 20:10] TwitchBronBron commented on #53
If I understand you correctly, then this is already supported natively in VSCode. The `name` field of a launch.json config lets you give a unique name to a launch. If you want to, you just need to give them different names. For example:

[code]

[2018-12-09 20:11] georgejecook commented on #53
How do I pass the url args?

On December 9, 2018 at 3:10:55 PM, Bronley Plumb (notifications@github.com)
wrote:

If I understand you correctly, then this is already supported natively in
VSCode. The name field of a launch.json config lets you give a unique name
to a launch. If you want to, you just need to give them different names.
For example:

{
    "version": "0.2.0",
    "configurations": [

[2018-12-09 20:12] TwitchBronBron commented on #40
Yeah it looks like it's working for me!

[2018-12-09 20:12] #40 closed

[2018-12-09 20:14] TwitchBronBron commented on #53
That sounds like you are asking for deep link support? Which is tracked in [this issue](https://github.com/TwitchBronBron/vscode-brightscript-language/issues/4).

[2018-12-09 20:14] georgejecook commented on #53
No, not deep link support; arbitrary launch args. If the DeepLinking ticket
will also resolve that, then good; but they’re not the same thing.

On December 9, 2018 at 3:14:02 PM, Bronley Plumb (notifications@github.com)
wrote:

That sounds like you are asking for deep link support? Which is tracked in this
issue
<https://github.com/TwitchBronBron/vscode-brightscript-language/issues/4>.

—
You are

[2018-12-10 05:35] piyushg098 commented on #50
Thanks, @TwitchBronBron . It works now.

[2018-12-10 11:37] TwitchBronBron commented on #50
Fantastic! Thanks.

[2018-12-11 13:22] #25 closed

[2018-12-11 13:26] #53 closed, assigned to TwitchBronBron

[2018-12-11 17:43] georgejecook opened #55 "support module fuzzy definitions for module/namespacing"
often times, a function will be declared such as
entitlements_module_getSynchronizePurchaseIds_

and returned in some module object to be invoked such as:
getSynchronizePurchaseIds_

I suggest that until such a time as we can get better scoping, that we filter definitions based on right hand side matches. It might be we include a setting such as modulePrefix which is configurable to `_` or ``, whi

[2018-12-12 20:35] kbunch opened #56 "Debugging stopped working between 1.30 and the latest version"
The debugger has stopped working between 1.30 and the latest version. It will freeze at the start of the app but the debugger won't show up with a continue/run option. This leaves it completely inoperable.

[2018-12-12 20:40] TwitchBronBron commented on #56
I saw this happen 1 time during my testing, and was hoping it was just a fluke (apparently not). Does it freeze every single time, or does it work sometimes?

[2018-12-12 20:42] kbunch commented on #56
On rare instances it works, but the majority of times it freezes. I reverted back to an earlier version and it was fine.

[2018-12-12 20:47] TwitchBronBron commented on #56
I'll do some more testing on my end, see if I can find out why it's failing.

@georgejecook you recently did some changes to the debugger code. Is there anything you can think of that might have caused this?

[2018-12-12 21:40] georgejecook commented on #56
Can't think off the top of my head. I can look into it tomorrow am.

On Wed, Dec 12, 2018, 4:24 PM Kenny Bunch <notifications@github.com wrote:

[2018-12-13 00:33] bvisin commented on #56
[roku-sample.zip](https://github.com/TwitchBronBron/vscode-brightscript-language/files/2674066/roku-sample.zip)

When running this sample app on 1.3.2 (https://github.com/TwitchBronBron/vscode-brightscript-language/commit/4947b0847b3059185cf51bff41c3d448b8c6c278)

I get a successful running debug session.

**Debug Console:**
[code]
Which is expected behavior.

When running it on the next commit (h

[2018-12-13 20:18] TwitchBronBron commented on #55
So I'm not crazy about adding intellisense for a "convention" of using underscores for namespaces into the project. Ideally, we would wait until we get a parser with actual scoped variable intellisense.

One thing we can do is reduce or remove false positives, which I'm very open to implementing.

In our slack discussion, you mentioned this set of code

[code]

With all of these ways of using them

[2018-12-13 20:36] georgejecook commented on #55
I don't think you understand. This has nothing to do with intellisense. It
pertains to go to definition.

On Thu, Dec 13, 2018, 3:18 PM Bronley Plumb <notifications@github.com wrote:

[2018-12-14 02:38] georgejecook commented on #56
I think I have this resolved in https://github.com/TwitchBronBron/vscode-brightscript-language/pull/58

There were some timing issues which never manifested in the way I was running (sorry folks) - run from the debugServer, which never exhibited this behaviour (as confirmed by @bvisin)

The fix I've submitted is more robust, and worked as expected in my testing; plus has better support for the (wo

[2018-12-14 03:13] #56 closed

[2019-01-04 21:38] kbunch opened #60 "1.4.2 broke builds"
The 1.4.2 build broke our builds. It is giving a no such file or directory for source/Main.brs even though the file exist in source. It looks like something changed in the way the files are moved/defined.

We simply had
                {
                    "src":"source",
                    "dest" : "source"
                },
Which seems not to work now. I'm guessing the way the files get defin

[2019-01-04 21:42] TwitchBronBron commented on #60
I updated the `roku-deploy` dependency to support multi-glob patterns for publishing....but all of my existing tests passed so it should have been fully backwards compatible. Could you give me a little more details on how to reproduce, or even a quick sample project to use?

[2019-01-04 21:47] kbunch commented on #60
We resolved it like this

[code]

VS it breaking like this

[code]

[2019-01-04 21:52] TwitchBronBron commented on #60
This is all the information that I needed, thanks! I'll investigate and see how I can restore the previous functionality. I'm glad you found a workaround though in the mean time.

[2019-01-04 21:59] kbunch commented on #60
@TwitchBronBron on another project

[code]
Doesn't work correctly. There it seems to be writing it including the full path rather than the relative path
ex: projects/client/roku/components
vs: components

[2019-01-04 22:31] kbunch commented on #60
@TwitchBronBron
To be clear....
[code]

Works on all projects except one. That one project uses the entire path from the root. None of the other projects do that. Not sure why.

PS. There is a Slack channel for this repo, but it says I have to have a tantawowa.com email to join. I'd like to be able to get on a slack channel, but have no means to

[2019-01-04 23:01] kbunch commented on #60
@TwitchBronBron
The issue for that project is that the manifest isn't in the root

For example we have different flavors and each flavor has its own manifest (same project creates multiple apps)

[code]

[code]

[2019-01-04 23:40] kbunch commented on #60
Another thing I found...

`                "!components/test/**/*.*", `

Will only negate it if there are multiple subfolders there. If there is only one subfolder it will include it. Possible I don't know the proper expressions to use. Do you have a reference for it?

[2019-01-05 02:04] TwitchBronBron commented on #60
Thanks for the extra info. I'll make sure to try all of those variations out and see what I find.

Concerning the slack group, I am a member, and I have a gmail account. I think I may have included the wrong link in the readme. Try this link instead: http://tiny.cc/nrdf0y   We hang out in the #vscode-bs-lang-ext room.

[2019-01-07 04:18] TwitchBronBron commented on #60
Just wanted to give an update. I think I have fixed the `{ "source"": "source", "dest" : "source"},` issue. I added several new tests which should prevent this from breaking in the future. I will move on to the other scenarios next and see how I make out.

[2019-01-07 12:02] TwitchBronBron commented on #60
This project requires that a manifest be at the root of your source project. We use the manifest location to help determine the relative location of other files/folders so we can put them in the right place in the target folder.

As a workaround, try putting manifest file at the root of your source project (it can be empty, we just look for the file with that name), and then overwrite it with one

[2019-01-07 12:09] TwitchBronBron commented on #60
We're using the [glob-all package](https://www.npmjs.com/package/glob-all) to support negative globs. My first guess is that you have files without extensions in `components/test`, or several subfolders.

Try using `"!components/test/**/*` (removed the extra `.*` because that is restricting the negative glob to only items with a period in the filename found in `components/test`.

[2019-01-07 12:51] kbunch commented on #60
Are you saying put a blank stub manifest in the root just so the script has awareness? We can do that as a workaround, if that works. I would have thought rootDir was what was used for finding the root. If that couldn't be used, I'd suggest a projectRootDir (though that gets confusing) for the future. As is, making it reliant on that file makes it a little brittle and fixed.

[2019-01-07 13:14] TwitchBronBron commented on #60
I'm just probably not fully understanding your project structure. The manifest needs to be at the top of `rootDir`. I was imagining you had the manifests in their own folder, something like this:

 - components/
 - source/
     - main.brs
 - manifests/
     - mainfest1
     - manifest2

[2019-01-07 14:34] kbunch commented on #60
@TwitchBronBron We have different flavors akin to Android. Flavors == different versions of an app that run off the same code (different resources, images, configs, etc). All of the manifests in the source exist in folders like flavor1/manifest, flavor2/manifest, etc. However, the launch.json defines their dest to be the root so they move to the base of the directory via roku deploy. The problem t

[2019-01-07 20:10] TwitchBronBron commented on #60
Appologies, but I'm still a little unsure of your project structure. Would you be able to give a more verbose example of your folder structure? Like the bullet list in my comment above, or a screenshot with an expanded tree view in vscode?

[2019-01-08 04:07] TwitchBronBron commented on #60
@kbunch All of this functionality is baked into the `roku-deploy` npm package. I just released version `2.0.0-beta1` which addresses the initial issue, as well as removed the code that searched for the manifest file location. Could you do the following to test my changes:

1. pull down the latest version of `vscode-brightscript-language`
1. Open that folder in vscode
1. Open a new terminal window

[2019-01-08 14:44] kbunch commented on #60
@TwitchBronBron This worked, but then a new issue surfaced...

For the following path directive...
[code]
the resources folder has subfolders ex: images/fhd/foo.png
roku_deploy is putting foo.png at the root of resources rather than copying the subfolder structure over

[2019-01-09 03:46] kbunch opened #61 "Feature request: add ability to rekey/sign apps"

[2019-01-09 11:44] TwitchBronBron commented on #60
Thanks. I'll take a look.

[2019-01-10 11:56] TwitchBronBron commented on #31
The main reason for needing that entry breakpoint is [this line](https://github.com/TwitchBronBron/vscode-brightscript-language/blob/f425536b9472df7eb7a1e402061a28c654c23eb1/src/RokuAdapter.ts#L161) in the rokuAdapter.

One possible solution is to use a special print line that is unlikely to collide with the user prints...something like `"____brightscriptDebugEntryHasRun___"`.

[2019-01-10 12:01] georgejecook opened #62 "method selection hints should show multiple signatures"
when more then one signature is available, the hint should collect _all_ signatures, filtering the options by the caret position (i.e. if the caret is at parameter position 3, then filter out any signatures that have < 3 params)

[2019-01-10 14:31] triwav commented on #31
I guess my main question is I'm still confused of why we need this. You mentioned in the slack

Thinking more about it, I don't even know if we need a special print. I feel we could likely use one of the following statements on startup to know we're running (most likely one of the last 2):
[code]

[2019-01-11 03:02] TwitchBronBron commented on #31
Yeah, something like this would probably be enough information to detect the app has started. I'll mess around with this in the next few days and see what I come up with.

[2019-01-11 20:16] TwitchBronBron commented on #31
@triwav I just pushed a commit to master that I think solves this issue for you. Can you pull it down and take a look?  Also note, I have another commit in master where I upgraded roku-deploy, so if you see something strange with your files being packaged, just temporarily downgrade roku-deploy in package.json and it should work as expected.

[2019-01-11 22:18] triwav commented on #31
@TwitchBronBron appears to be working great. I'd recommend getting some other people's input but in my testing this is a definite improvement. This will likely push me to help build in support for modifying the build number to the current date time so I can use your plugin directly for clients that don't have a dedicated build script. Currently I still use Atom for that one feature and will be nic

[2019-01-12 00:00] TwitchBronBron commented on #31
That's great news! @georgejecook @bvisin would you be willing to pull down master and verify as well?

[2019-01-12 01:07] bvisin commented on #31
@TwitchBronBron and @triwav Awesome! Ya, this works great.  Best part about this is I can relaunch the channel with the remote or with the debugger not attached and it won't stop on startup!  Also, deep linking now works!  You guys ROCK!

@georgejecook give it a shot

@TwitchBronBron I upgraded `roku-deploy` and all seems fine.

[2019-01-12 20:36] georgejecook commented on #31
Mostly good here;
however, I can’t get any output when connecting with vscode debugger (port
4711) with this build.

That’s going to hamper further debugging work, so you might want to look
into fixing that in the short-term - I don’t deem it a blocker though.

Other than that though - looks good.

On January 11, 2019 at 7:00:58 PM, Bronley Plumb (notifications@github.com)
wrote:

That's great new

[2019-01-12 22:28] georgejecook opened #63 "Add ability to mark log output"
It should be possible to add a mark to log output with a keypress (Suggestion ctrl+l)
The logoutput should append
[code]
with an incrementing mark count
also keypress to clear the output (suggested default is ctrl+k) - this will reset marks as well

[2019-01-12 22:56] georgejecook commented on #46
@TwitchBronBron can you assign this to me, please? I can't live without it anymore.

My suggested solution is each breakpoint has a unique id associated with it, and that instead of STOP we put a line of code which can check with a mechanism available on m.global - and if m.global is not avaiable, revert to stop

so we can insert:
`if m.global <> invalid and m.global._vsl_breakpoints <> invalid an

[2019-01-12 23:55] TwitchBronBron commented on #46
I was actually thinking about this today, and had a slightly different thought.

We could add your proposed line to EVERY line of runnable code in the entire project instead of just the marked breakpoint lines.

Then, when we launch the debugger, we would also pass along the "which breakpoint lines are enabled"  statement too.

The benefit to my approach is that would allow us to add new breakpoin

[2019-01-13 00:02] TwitchBronBron commented on #46
Also, if we modify your line to always call the stop statement if m.global is not available, we don't have to hide it behind a flag because the functionality hasn't changed

Something like

`If m.global = invalid or m.global.vbl_enabled_breakpoints[1]  <> invalid then stop`

[2019-01-13 00:13] TwitchBronBron commented on #46
The socket part....we already have a connection established in the rokuAdapter for all other debugger commands. So the flow would be

1. Issue a pause command
2. Send an evaluate command to enable/disable the breakpoint `m.global.vbl_enabled_breakpoints.bp1 = true` or `m.global.vbl_enabled_breakpoints.delete("bp1")`
3. Send a resume command

We might need to select the proper thread between 2 and

[2019-01-13 00:40] georgejecook commented on #46
Hahaha. I thought of that. But I thought it'd be beyond crazy in terms of
performance and mappings.

Perhaps you're smarter than I but I had no idea how you can toggle a
condition on an if statement or for or while etc etc.

 Can try a spike out on 2 large projects if you just want to try a build
that adds the stop guards to see how it performs..

On Sat, Jan 12, 2019, 6:55 PM Bronley Plumb <notif

[2019-01-13 03:16] TwitchBronBron commented on #46
I can't imagine it having any noticeable performance impact....these statements are not heavy.

For now, you can go ahead and just add the stop guards for the known breakpoints, and we can expand on that later.

Ping me if you need any help.

[2019-01-13 03:35] TwitchBronBron commented on #46
So the pause/resume im talking about is done over telnet, it's when you type ctrl+c and it pauses execution. is that the same pause that takes 20 seconds for you? If so, then how is debugging even ever working using this extension at all?

[2019-01-13 03:54] TwitchBronBron commented on #46
I just tested on a Roku 2 XD:

1. Open a telnet session using Putty
2. Launch a sideloaded app using the roku remote
3. In the telnet session, press ctrl+c which enters into the roku debug prompt

It took less than a second for the `ctrl+c` command to execute. Every part of the current debugger implementation in this extension depends on using that debug terminal. It sends lots of commands to get

[2019-01-13 04:41] TwitchBronBron commented on #46
It was a simple app, with no background tasks. :D

I would recommend the first iteration of this ticket be to switch from `stop` commands to the conditional statements, with my above steps for enabling/disabling the breakpoints whenever a user enables/disables/deletes breakpoints after debugging has started. That would validate that it works, without all the added work of integrating sockets into

[2019-01-13 04:53] georgejecook commented on #46
Agree. I'll send Roku more details. Hopefully they can fix the issue and
this solution will be good to go formbigger projects.

On Jan 12, 2019 11:41 PM, "Bronley Plumb" <notifications@github.com> wrote:

It was a simple app, with no background tasks. :D

I would recommend the first iteration of this ticket be to switch from stop
commands to the conditional statements, with my above steps for
enab

[2019-01-13 13:43] TwitchBronBron commented on #4
@pixshatterer @georgejecook @triwav @bvisin I just merged master into this branch, so it should have all of the latest changes now.

Does this work well enough for you all that it can be merged into master / is there anything else that needs done?

[2019-01-13 13:44] TwitchBronBron opened #65 "Add reserved word "step""
According to Roku SDK Docs step is an optional part of for loops to specify the increment after each iteration. It's not showing up that way in the UI right now.

[2019-01-13 13:46] TwitchBronBron opened #66 "Added 'not searchViewletVisible' as condition for keybindings"
`searchViewletVisible` is the name of the search widget if it's part of the panel instead of the sidebar. Without this condition it's practically impossible to use the search panel.

[2019-01-13 13:48] #65 closed

[2019-01-13 22:02] georgejecook commented on #63
use case is you get tons of logoutput - and something happens that you are interested in - like showing a screen, playback start - a glitchy bit of UI a spinner appearing

you can press a key - I no longer have to scan tons of log code - I've a very good idea of where it occurred..

[2019-01-14 14:48] kbunch commented on #61
I need to learn more about the options in VS code, but my initial thought is that it would be another entry in the launch.json config. You could have one for testing/debugging, one for creating prod (not testing). If that can be done in the current context, that would be awesome. If it has to be done with a different command, that would be fine too. The main point would be using the same types of

[2019-01-14 20:33] Romans-I-XVI opened #68 "CompletionItem Work"
Hi, so I am in the process of switching over from Sublime to VSCode. In sublime I had a bunch of snippets just to help me remember what interface methods are available in BrightScript. I began working on porting those snippets over and turning them in to CompletionItem data as part of this extension. You can see the work I've done so far here -> https://github.com/Romans-I-XVI/vscode-brightscript-

[2019-01-15 02:30] TwitchBronBron commented on #63
I've given this some thought, and I hate to say it, but I don't think this concept belongs in `vscode-brightscript-language`. There's nothing BrightScript-specific about it. It just adds text to a vscode "output" channel. You could easily write a standalone extension that allows you to do this same thing...by adding the line to the active channel, or adding a setting to specify which output channe

[2019-01-15 04:05] TwitchBronBron commented on #63
@georgejecook I just wanted to summarize out slack conversation for tracking purposes. Thanks for the clarifications.

For the upcoming log-filtering feature, you are moving all of the log statements into an array (so you can recreate the log based on filters). That would make this `mark log output` feature impossible to implement in a separate extension because that new extension wouldn't have ac

[2019-01-15 04:06] #63 closed

[2019-01-15 10:54] georgejecook opened #69 "Should give a warning if deployment fails"
Many of us change roku accounts frequently. When this happens, we might forget to enable debug mode, or the box might crash and not accept more deployments.

In any case, it'd be great to have an error/warning if the deployment is unsuccessful.

[2019-01-15 11:50] TwitchBronBron commented on #69
What type of presentation do you think should should show for this? My top choice right now is one of those notifications at the bottom right of the screen. Like this one (but with error or warning status)

![image](https://user-images.githubusercontent.com/2544493/51178845-d2f35e00-1891-11e9-974b-729ded05775f.png)

[2019-01-15 11:52] georgejecook commented on #69
That’d make sense - it’d be consistent with other extensions I use.

On January 15, 2019 at 6:50:30 AM, Bronley Plumb (notifications@github.com)
wrote:

What type of presentation do you think should should show for this? My top
choice right now is one of those notifications at the bottom right of the
screen. Like this one (but with error or warning status)

[image: image]
<https://user-images.gith

[2019-01-16 14:40] reidcooper opened #72 "Disable Syntax Highlighting"
Request to disable this extension's syntax highlighting, especially if you've created your own.

[2019-01-16 21:46] georgejecook opened #73 "Console output hyperlinking to code files"
Would be beyond awesome to have a mechanism for clicking on log lines (or even just embedded filenames) so that we go straight to the line that logged it.

Individual developers (or logging frameworks) could then embed the links to files in the output.

[2019-01-16 21:49] georgejecook opened #74 "variables view should populate vars on a breakpoint/runt time error"
we should get the output of a telnet vars command, in the vars panel in the top right, imo

[2019-01-16 22:03] TwitchBronBron commented on #68
So I love this idea! as long as it doesn't produce false positives, I'm cool with your current approach.

In the medium-to-long-term, I hope to have a full language server written that would handle all of this auto completion stuff. However I would end up having to do all of the same legwork that you're doing anyway, so none of your work will be wasted.  Doing it your way would definitely provide

[2019-01-16 22:04] #66 closed

[2019-01-16 22:09] TwitchBronBron commented on #60
This was fixed in v1.6.0.

[2019-01-16 22:09] #60 closed

[2019-01-16 22:11] TwitchBronBron commented on #31
The main issue was fixed in release 1.6.0. @georgejcook, if you are still seeing issues with the vscode debugger output, please open a new issue

[2019-01-16 22:11] #31 closed

[2019-01-17 10:56] TwitchBronBron commented on #72
Hmm. I don't really know how to do this. We contribute the language grammar [here](https://github.com/TwitchBronBron/vscode-brightscript-language/blob/88d80933349fe14034546a524a13b1a9f369b551/package.json#L265) in the package.json, which is static and used when the extension is generated. I'm not sure if there's a way to programmatically disable the grammar from within the extension.

However, wit

[2019-01-17 11:53] TwitchBronBron commented on #69
I found a few places where the debug failure errors were not being bubbled up to the top, so I fixed those in [this branch](https://github.com/TwitchBronBron/vscode-brightscript-language/tree/feature/better-failure-presentation). I tested out a few other debuggers, and they all use the standard vscode debugger failure path, which is to call ` this.sendErrorResponse`. That shows an alert box in the

[2019-01-17 12:37] georgejecook commented on #69
Frikking awesome. Thanks so much. The missed failures are really irritating
and were seemingly random.

On Thu, Jan 17, 2019, 6:53 AM Bronley Plumb <notifications@github.com wrote:

[2019-01-17 13:31] Romans-I-XVI commented on #68
Oh ok awesome, I will continue work on it then and let you know if anything comes up.

[2019-01-18 03:08] TwitchBronBron commented on #32
There is an open feature request at the vscode githut project [here](https://github.com/Microsoft/vscode/issues/14662).

[2019-01-18 03:10] #69 closed

[2019-01-18 03:10] TwitchBronBron commented on #14
@georgejecook does PR #76 solve this issue for you?

[2019-01-18 03:15] TwitchBronBron commented on #36
@georgejecook is this still an issue for you? If so, do you have any more information that could help track this down?

[2019-01-18 03:17] TwitchBronBron commented on #13
Should be fixed when #75 is completed. Don't use the debug console though, use the BrightScript Log output channel.

[2019-01-19 02:02] bvisin opened #78 "Read environment variables from external file for debuggin"
I would like to have a launch config file like:
[code]

[2019-01-19 03:36] TwitchBronBron commented on #72
@reidcooper If you know of a way to programmatically do what you're asking, I'm more than happy to add that as a setting.

[2019-01-19 03:49] TwitchBronBron commented on #4
The latest version of the branch has remove `${promptForContentId}` and `${promptForMediaType} in favor of `${promptForQueryParams}`. This should hopefully streamline the process a little bit.

[2019-01-21 21:01] #73 closed

[2019-01-21 23:27] Romans-I-XVI opened #79 "Default EOL Setting"
https://github.com/TwitchBronBron/vscode-brightscript-language/blob/456b4d8146400d4af7bf4bddac10d32ef3cfcfdf/.vscode/settings.json#L15

Is there a reason this setting is here? This makes it so new files default to CRLF line endings where as all of the current project files are using LF.

[2019-01-22 03:14] TwitchBronBron commented on #79
Thanks for pointing this out. My desire was to force all new files to have the same line endings. However, in trying to prove that the files were actually saved in CRLF, I realized that was not the case. I think that my GIT install may be normalizing the line endings. I'm using Windows (if you couldn't already tell by the CRLF). When I clone the repo using the GIT cli, my file line endings are CRL

[2019-01-22 15:25] Romans-I-XVI commented on #79
I think having standardized line endings for the project is good, but I personally would prefer \n. I use Linux, reason I even noticed it was I was all my git diffs were showing a  ^M at the end.

Plus all the files are already formatted that way anyway, might as well keep them in \n. ;)

[2019-01-23 07:11] evgygor opened #80 "Cannot indent the code when shorthand 'IF' used without 'THEN'"
This kind of code broke the indentation of the following code:

`if a=true foo()`

Using of `if a=true then foo()` does not broke the indentation

Using next code without 'THEN' works well too
if a=true
     foo()
end if

Thanks

[2019-01-24 19:08] bvisin commented on #78
@TwitchBronBron Pulled down the branch and works perfect! Thanks for jumping on this so quickly!  Really appreciate the addition.  I'll continue to use the branch for a while to see if I notice any abnormalities, but I would say this is a great feature that should be included in the next release.

[2019-01-24 19:13] bvisin commented on #78
@TwitchBronBron I am seeing an issue with the remote not working as the remote pulls the IP from the launch file...

[code]

So I think we can easily detect `${env:VAR}` and replace that with the env variable...not sure how that all works with different processes as I would like to be loading that in from the .env file but I will try and look into it when I get some time.

[2019-01-25 15:41] triwav opened #82 "Go to declaration doesn't work for functions with whitespace in front of them"
Jump To doesn't seem to work when doing string concatenation. As an example in my code. I have `logDebug("focus", "Set focus to " + nodeToString(node))` I can jump to `logDebug` but not `nodeToString`

[2019-01-25 21:50] TwitchBronBron commented on #82
Based on our conversations in slack, the issue is actually that function definitions with whitespace in front of them are not picked up by the "what functions are available" checker.

[2019-01-25 22:01] #82 closed

[2019-01-26 03:34] bvisin commented on #78
Awesome @TwitchBronBron Thank you!

[2019-01-26 03:43] TwitchBronBron opened #85 "Go to definition does not find functions with white-space between identifier and opening parens"
Function/Sub declarations with whitespace between their name and the opening parentheses are not being detected in the `go to definition` functionality.

I was going through old issues and found [this comment](https://github.com/TwitchBronBron/vscode-brightscript-language/issues/40#issuecomment-446113555). I tested, and it's still not working properly.

Here's sample code:
[code]

[2019-01-26 04:31] #85 closed

[2019-02-15 02:55] triwav opened #93 "Add action to jump to component current one extends from"
We already have a `Toggle xml/brs` action that switches between the xml and brs files for a component. Once we are able to know the inheritance structure of the component we should add an action to jump to the component the current one extends from. This has the same requirements as `Toggle xml/brs` that the file name for the two must be the same but otherwise seems fairly straightforward once we

[2019-02-15 02:56] TwitchBronBron opened #94 "Decode roku error codes"
When encountering an error on a remote Roku device, sometimes the errors contain codes like `&h02`. We should decode those errors to provide more benefit to end users. Here's a forum post listing what many of those error codes are:

https://forums.roku.com/viewtopic.php?t=33193#p211138

[2019-02-21 23:30] vbasky opened #95 "Bitshift Assignment Operators error"
<img width="239" alt="screen shot 2019-02-22 at 10 28 47 am" src="https://user-images.githubusercontent.com/287302/53208917-c4684580-368c-11e9-994b-fc00b962df6f.png">

The above valid syntax in bright script is shown as an error in the IDE

Version: 1.9.0-beta1

[2019-02-22 00:15] vbasky opened #96 "Typo Error in Identifier"
![screen shot](https://user-images.githubusercontent.com/287302/53210822-42c7e600-3693-11e9-97ae-928c65ab8f4f.png)

Typo error in identifier

Version: 1.9.0-beta1

[2019-02-22 01:11] TwitchBronBron commented on #95
Thanks for reporting this! [Here's a ticket](https://github.com/sjbarag/brs/issues/155) on the parser project tracking this issue. Once that fix lands, it should fix the issue in the IDE.

[2019-02-22 02:57] TwitchBronBron commented on #96
Thanks, I didn't know about this one. I just opened [this ticket](https://github.com/sjbarag/brs/issues/164) on the `brs` parser project. When it gets fixed there, it will trickle down into this project.

[2019-02-22 03:08] vbasky commented on #96
@TwitchBronBron Is this handled by https://github.com/sjbarag/brs ?

[2019-02-22 03:27] TwitchBronBron commented on #96
Yes, it is. All of the "parser" style errors are handled by https://github.com/sjbarag/brs.

I just submitted [this](https://github.com/sjbarag/brs/pull/168/files) pull request to fix the typo. Good catch!

[2019-02-22 03:43] vbasky commented on #96
Didn't know that you would be submitting a PR. I submitted the same I'll pull mine off.

[2019-02-22 03:58] TwitchBronBron commented on #96
Oops! Sorry. Maybe I should have gone to bed instead... :)

Thanks for all of your help.

[2019-02-24 08:40] vbasky commented on #96
I see that this has been fixed in brs repository is it flowing through here as well ?

[2019-02-24 12:37] #95 closed

[2019-02-24 14:05] TwitchBronBron commented on #96
Just pushed release [1.9.0-beta2](https://github.com/TwitchBronBron/vscode-brightscript-language/releases/tag/v1.9.0-beta2).

[2019-02-24 23:26] vbasky opened #97 "Valid short hand syntax displayed as error in IDE"
Below is the error that I am getting from the IDE which is not really helpful.

<img width="539" alt="screen shot 2019-02-25 at 10 15 32 am" src="https://user-images.githubusercontent.com/287302/53306989-c11cc600-38e7-11e9-81e7-419dd31b7f17.png">

[2019-02-25 00:16] #96 closed

[2019-02-25 00:30] vbasky opened #98 "Ability to ignore linting sub folders"
I would like to have the capability to ignore linting in sub folders through a configuration setting probably.

The project that I am dealing with has quite a few SDK's which have poor linting standards and not worthwhile my time. I would like VSCode to happily ignore them if they can.

[2019-02-25 00:49] TwitchBronBron commented on #98
So, this project isn't intended to be a linter. It's a language validator. So any errors you encounter will cause compile-time or runtime errors when running on a roku, or they are a byproduct of a bug in this project that should be fixed in this project.

All of the errors you have submitted so far have been bugs in this extension.

I don't see much value in adding a "ignore actual code errors" o

[2019-02-25 01:19] vbasky opened #99 "Shouldn't be linting commented lines"
The plugin is linting commented lines as well. Ideally it should ignore them in the XML

<img width="797" alt="screen shot 2019-02-25 at 12 16 57 pm" src="https://user-images.githubusercontent.com/287302/53308700-799e3600-38f7-11e9-869b-92ec95884eca.png">

Version: 1.9.0-beta2

[2019-02-25 01:29] vbasky commented on #98
My project requires that I include third party analytics libraries like Adobe, Conviva, Oztam etc. The SDK's themselves written by other companies don't necessarily adhere to following Brightscript standards

Some of the errors shown by the IDE on linting on third party libraries

<img width="337" alt="screen shot 2019-02-25 at 12 24 31 pm" src="https://user-images.githubusercontent.com/287302/533

[2019-02-25 02:59] TwitchBronBron commented on #99
The plugin doesn't have an actual xml parser right now, so I'm just using regex to find all of the script imports. I forgot to take comments into account. Great catch!

[2019-02-25 03:16] TwitchBronBron commented on #98
Thanks for the examples, that helps a lot!

These are all bugs in the `brs`. It's failing on valid BrightScript syntax that it does not yet support. The first two screenshots (`result$` and `result%`) are tracked by [this issue](https://github.com/sjbarag/brs/issues/162).

I opened [this issue](https://github.com/sjbarag/brs/issues/175) for `m.["_uuid"]`, and [this issue](https://github.com/sjbara

[2019-02-25 03:44] vbasky commented on #98
I would like to contribute in my spare time, but its a hard spot getting my feet wet on this codebase without developer docs.

[2019-02-25 20:57] TwitchBronBron commented on #99
This should be fixed in release `v1.9.0-beta3`

[2019-02-25 20:57] #99 closed

[2019-02-26 04:17] TwitchBronBron commented on #97
Thanks. This is an error in the `brs` parser. I have filed an issue in that project.

[2019-03-04 23:24] vbasky opened #101 "Syntax Error on If .... Then"
Valid syntax now shows expected a statement to follow if ... condition

<img width="552" alt="screen shot 2019-03-05 at 10 19 21 am" src="https://user-images.githubusercontent.com/287302/53769706-d79ecf00-3f30-11e9-9f5a-4ba440c817b9.png">

Version: 1.9.0-beta5

[2019-03-04 23:27] vbasky opened #102 "All occurrences of then in a condition is failing"
It says Expected statement or function call, but received an expression

<img width="726" alt="screen shot 2019-03-05 at 10 20 01 am" src="https://user-images.githubusercontent.com/287302/53769791-0f0d7b80-3f31-11e9-8341-bb979727c5fb.png">

Version: 1.9.0-beta5

[2019-03-05 01:06] TwitchBronBron opened #103 "Update textmate grammar to use proper token types"
The textmate grammar is using `keyword.control` for way more than it should be. Update the grammar to break out things like `function`, `m`, `global`, etc. Also, variables and parameters should be identified.

[2019-03-05 01:08] #103 closed

[2019-03-05 03:05] TwitchBronBron commented on #101
I'm trying to reproduce this, but it seems to be working for me. Can you try to narrow down the actual syntax causing the error? I'm thinking there might be a syntax bug somewhere else, causing a chain of additional syntax errors shown in your code.

[code]

[2019-03-05 03:07] TwitchBronBron commented on #101
Nevermind! I just realized the issue is the capital `"T"` in `"Then"`. Thanks.

[2019-03-05 03:11] TwitchBronBron commented on #101
I just opened [this issue](https://github.com/sjbarag/brs/issues/187) in the `brs` project. When it gets fixed there, I will update this project.

[2019-03-05 03:13] TwitchBronBron commented on #102
Closing as this appears to be the same underlying issue as #101.

[2019-03-05 03:13] #102 closed

[2019-03-05 22:53] vbasky commented on #101
Oh yeah the setting on vscode is
```"brightscript.format.keywordCase": "title",````

[2019-03-05 23:15] TwitchBronBron commented on #101
That's only used when you use the format document command in vscode. Shouldn't have any affect on the code itself (except for this bug lol)

[2019-03-06 17:26] georgejecook opened #106 "commands for logoutput got removed from package.json"
there are commands for clear output, filtering and mark - theses have gone missing

[2019-03-07 10:34] srinivasantivo opened #107 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `brightscript`
- Extension Version: `1.8.4`
- OS Version: `Linux x64 4.15.0-46-generic`
- VSCode version: `1.31.1`

:warning: Make sure to **attach** this file from your *home*-directory: `/home/harinni/celsoaf.brightscript-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes

[2019-03-07 10:35] #107 closed

[2019-03-08 03:07] #106 closed

[2019-03-08 03:08] TwitchBronBron commented on #106
This should be fixed in version 1.8.5, which was just deployed. Not sure how these got lost, but let me know if that solves the issue for you.

[2019-03-08 10:58] TwitchBronBron commented on #107
I see you already closed this. Did you figure out what the issue was?

[2019-03-09 23:28] vbasky opened #108 "Unable to find a method already defined/implemented"
I am not sure why the function call isn't able to find the method in the project

<img width="739" alt="Screen Shot 2019-03-10 at 10 25 37 am" src="https://user-images.githubusercontent.com/287302/54078617-3d1f0100-431f-11e9-8737-4e8f3c69a709.png">

[2019-03-11 00:33] vbasky opened #109 "Valid variable name shown as invalid"
I am not sure if these valid variable name scenarios have been raised before

<img width="531" alt="Screen Shot 2019-03-11 at 11 34 35 am" src="https://user-images.githubusercontent.com/287302/54094013-a7a07180-43f1-11e9-8d39-21be78175684.png">

[2019-03-11 00:38] vbasky commented on #97
I can close this issue as it has been fixed in 1.9.0 beta 7

[2019-03-11 00:38] #97 closed

[2019-03-11 01:39] TwitchBronBron commented on #109
Thanks for bringing it up. That's another parser bug, which is tracked by [this issue](https://github.com/sjbarag/brs/issues/162) in the `brs` project. Once it gets fixed in `brs` we should get the fix for free by upgrading.

[2019-03-11 01:40] TwitchBronBron commented on #101
This was fixed in 1.9.0-beta7.

[2019-03-11 01:40] #101 closed

[2019-03-11 03:29] vbasky opened #110 "Valid file reference not found"
This is the opposite of the error #108

<img width="1110" alt="Screen Shot 2019-03-11 at 2 24 18 pm" src="https://user-images.githubusercontent.com/287302/54098729-d9bdcd80-4409-11e9-8c6c-fe261942f22e.png">

[2019-03-11 10:12] TwitchBronBron commented on #110
This error is on purpose. If you read the error message, it says that this file is not being loaded anywhere in your project. All files in `source` are loaded into the program. Then, every script that every component references is also loaded into the program.

This warning means your `shared_dash.brs` script is not located in `sources` and is not referenced by any component....therefore it won't

[2019-03-11 14:25] triwav opened #111 "Allow using settings.json for launch configs broken in version 1.9.0-beta8"
You can provide launch configurations in your settings.json file by wrapping in launch key. This works fine in 1.9.0-beta7 but was broken in 8. An example configuration is below.
[code]

[2019-03-12 01:05] TwitchBronBron commented on #110
Can you test this again using `1.9.0-beta9`? There was a pretty big regression issue in `1.9.0-beta8`, so I'm hoping that was the reason for the issues you are seeing.

[2019-03-12 01:10] vbasky commented on #110
Don't see this happen in `1.9.0-beta9`

[2019-03-12 01:40] TwitchBronBron commented on #111
I found the issue. When you run a launch configuration from user settings, vscode doesn't know which workspace you are launching it for, so the `folder` variable is undefined. That causes [this line](https://github.com/TwitchBronBron/vscode-brightscript-language/blob/a26836d2bdb3bdfc9aa8f3b76a12361b1b33dcd0/src/DebugConfigurationProvider.ts#L36) to fail.

This is fixed, so it should land in the ne

[2019-03-12 01:44] TwitchBronBron commented on #111
With this specific scenario, I had to code a few different ways to try and get at the workspace folder path.

1. Use `folder` param if provided (should be present anytime a launch.json debug is started)
2. If there's only one workspace loaded in vscode, use that workspace (should catch almost everything else)
3. If there are more than one workspaces open, prompt the user to specify which workspace

[2019-03-12 18:17] nsillik opened #112 "Support for conditional breakpoints"
It would be great if we could add conditional breakpoints, like this:

![image](https://user-images.githubusercontent.com/141675/54224931-ca955900-44b7-11e9-8a61-c0c9faa3e0c5.png)

I was thinking it would be pretty easy to instead of just (`BrightScriptDebugSession.ts` line 605ish) doing:
[code]

We could instead do something (psuedocode):
[code]

I ran into an issue when trying it out: `DebugProt

[2019-03-13 04:29] vbasky commented on #109
Adding one more scenario though the issue linked in brs has the expressions, variables link that you have added

<img width="635" alt="Screen Shot 2019-03-13 at 3 26 36 pm" src="https://user-images.githubusercontent.com/287302/54253766-c98e2580-45a4-11e9-9925-cc22d0c2f15f.png">

[2019-03-13 04:39] vbasky commented on #108
This is a pesky bug can't get to the bottom of this

[2019-03-13 10:14] TwitchBronBron commented on #109
Thanks, these are being tracked here: https://github.com/sjbarag/brs/issues/162

[2019-03-13 10:19] TwitchBronBron commented on #108
it's possible the parse errors in screen_login.brs causes the enableForgot to drop out of the AST.

As a test, can you comment out EVERYTHING in screen_login.brs, and then add this to the very top:

[code]

Does the error on shared_login.brs line 196 go away?

[2019-03-14 00:15] vbasky commented on #108
Do you mean add

[code]

Either which ways even after getting rid of every other line and adding just this Sub the `shared_login.brs` still shows the error in line 196

[2019-03-14 01:12] TwitchBronBron commented on #108
Oops, yeah that's what I meant.

Can you verify that `screen_login.brs` will be correctly matched by your `files` array from brsconfig.json?

It uses these globs by default:

[code]

[2019-03-14 02:09] TwitchBronBron opened #113 "Auto-suggest including folders in the files array"
By default, there are only certain folders included in the files array for brsconfig.json. This extension should support the ability to auto-add more folders to the array. Here's how I envision it working:

the extension scans your entire workspace for all `brs` and `xml` files and has those ASTs loaded in the background for reference.

in `source/main.brs`, you type `SomeFunction()`. the extensio

[2019-03-14 02:11] TwitchBronBron opened #114 "Add ability to jump to parent component from the `extends` xml attribute"
Should support jumping to the parent component from choosing "go to definition" on the child component's `extends` attribute.

Expected workflow:

1. Put your cursor on the text inside of `extends`, and choose "go to definition". It should open the BaseScene.xml file.

    ![image](https://user-images.githubusercontent.com/2544493/54326465-cdd63500-45dc-11e9-8123-61f4ce5db599.png)

[2019-03-14 20:09] chrisdp opened #115 "BRS config and .env are only processes before preLaunchTask"
When creating a script to dynamically set the HOST ip in out .env file based on the available roku devices on the network I found that the .env file loaded before the preLaunchTask completes.

This means if the HOST in the .env is updated via a task the deploy will go to the last ip until the next launch.

[2019-03-15 10:42] TwitchBronBron commented on #114
Fixed in `1.9.0-beta11`

[2019-03-15 10:42] #114 closed

[2019-03-15 23:25] chrisdp opened #116 "Stopping debug does not always kill all active threads"
When restarting debugging or stopping following a bright script crash it should run the exit command until the "Thread detached" message is detected.

In some cases this leads to the channel getting stuck in an open state and will not accept a new side load. I am able to get around this by opening a telnet connection and running exit my self a few times until I get the "Thread detached" message. A

[2019-03-16 00:20] TwitchBronBron commented on #116
@triwav this is the same thing we were discussing on slack, right where we decided it would be better to send the kill command instead of the home press? I like the idea of running the exit command repeatedly until we get the "thread detached" message. Thoughts?

[2019-03-16 03:27] chrisdp commented on #74
#117 up for review

[2019-03-16 10:35] georgejecook opened #118 "LSP gives errors for functions imported in extended component"
Using 1.9.0-beta11, I get problems falsely reported for any functions which are defined in imports from the parent's parent's script file

`BaseScreen` has function definition for `executeSelection`, and imports `log.brs` with a definition for `log_info`
`DiscoverScreen` extend's `BaseScreen`

calls to `executeSelection` and `log_info` are wrongly marked as problem's

[2019-03-16 10:37] georgejecook opened #119 "LSP problems appear to be reported in some files and not others"
Using 1.9.0-beta11

[2019-03-16 12:20] TwitchBronBron commented on #118
Just to clarify, you are that with this inheritance chain:
Child -> Parent -> Grandparent, child can see parent functions but child cannot see grandparent functions?

[2019-03-16 12:33] georgejecook commented on #118
this might be because of my brsconfig.json being wrong - I didn't have one when I raised this issue, and now I've got one and I get no red squiggles (i.e. problems) at all  - looks like it's not working. I'll try and work out what's going on later today and update

[2019-03-16 13:01] georgejecook commented on #118
it's because I import a pkg file, which doesn't get picked up

The method's which are missing come from this import in BaseView.xml

`  <script type="text/brightscript" uri="pkg:/components/Log/Log.brs" />`

the LSP reports this can't be found: it does exist at `src/components/Log/Log.brs`

here's my brsconfig.json
[code]

[2019-03-16 17:13] TwitchBronBron commented on #118
For clarification, are you saying that baseview.xml shows an error on the script import line?

If you open log.brs in vscode and add a space and save...does that trick the lsp into seeing the file now?

As another testing step, try using a relative path to log.brs and see if that works (adjust for actual file structure) (`src="../../Log/Log.brs"`)

[2019-03-16 23:21] georgejecook commented on #118
changing to `../../Log` does fix it

[2019-03-17 00:02] georgejecook commented on #118
I've found that all pkg imports are broken in my project.

[2019-03-17 00:21] TwitchBronBron commented on #118
Good to know! I designed this to work with both relative and pkg imports... But obviously something got broken. :) I'm look into it.

[2019-03-18 04:14] timalacey commented on #4
Anything stopping this from being merged into master?

[2019-03-19 17:25] triwav opened #120 "Allow option to auto continue main thread breakpoints"
If you add a breakpoint most of the time when you resume the main thread run loop will continue trying to break. You can hit continue several times to try and get back going and that's what this issue would attempt to do. The ideal would be have Roku address this but it's uncertain when or if that will happen. One suggestion is a popup that would show up when this situation is addressed with the f

[2019-03-19 17:56] georgejecook commented on #120
I like this idea - I don't think it will work (in my experience it will crash, if you have tasks, which any reasonable sized project will have); but hell - it's a smart workaround for now, should it work

[2019-03-19 17:59] georgejecook opened #121 "Wrap long lines in editor"
Brighscript does not support multiline if statements - it's a real pain to work with..

but.. what if the editor did that for us? Jetbrains ides do this all the time for many languages, and I've seen vscode extensions that insert virtual elements into text documents, so I guess that we should be able to do the same.

i.e in `myTypicalBrsFile.brs` I might have

`if type(deeplinkingData) = "roAssoci

[2019-03-19 18:07] georgejecook commented on #121
wow - @TwitchBronBron just showed me this is built in!!
holy cow. Awesome - closing the issue

[2019-03-19 18:07] #121 closed

[2019-03-20 08:23] evgygor opened #122 "Add ignore list of folders for Peek/Go To definition"
Add ability to create ignore list of folders for Peek/Go To definition.
Or use  "search.exclude" parameter of VSCODE as "Find all references" does.

For example:
![image](https://user-images.githubusercontent.com/10452376/54669460-14a2be00-4afa-11e9-9a91-da25859ebc7d.png)

I would like avoid the peeking the definitions from "TEST2" folder

Thanks

[2019-03-20 10:46] TwitchBronBron commented on #122
The peek and other reference finding code uses just a regular expression search of the entire project, which is why you are seeing the duplicates.

I have a languageserver branch that has started actually parsing the files, and provides the ability to know which functions are present in which scopes. I haven't updated the definition code yet, but the end result will be to only show definitions for

[2019-03-20 13:10] evgygor commented on #122
Thanks!

[2019-03-21 18:48] chrisdp commented on #116
Pr related to this issue: #124

[2019-03-22 02:03] TwitchBronBron opened #125 "Kill existing debug threads before starting a new debug session"
If you disconnect the debugger when the Roku is suspended on a breakpoint, sometimes the roku will lock up and won't respond until you telnet in and execute the `exit` command several times in a row.

The debugger should attempt to do this on debug start, and restart, and on exit, so that the Roku is left in a "clean" state.

[2019-03-22 02:06] TwitchBronBron commented on #125
Resolved by #124

[2019-03-22 02:06] #125 closed

[2019-03-22 02:07] #68 closed

[2019-03-22 02:26] TwitchBronBron opened #126 "Monitor Roku for closed session and close debugger"
Certain situations cause the Roku app to close, and the debugger is not always aware of that, such as a home button press from a physical remote, or the app encounters a `exit` command.

Roku provides an external control api which would allow us to monitor the running app, and whenever a running app quits, we could kill any active debug session. This would only be activated on debug start, and wou

[2019-03-22 02:27] TwitchBronBron commented on #119
This was because you didn't have your brsconfig.json file set up properly, right? Can I close this?

[2019-03-22 02:35] TwitchBronBron commented on #111
This was fixed in `languageserver-beta10`

[2019-03-22 02:35] #111 closed

[2019-03-22 02:38] georgejecook commented on #126
I'll probs end up doing this.. it drives me nuts

[2019-03-22 04:00] georgejecook commented on #119
yep! forgot to close it. sorry

[2019-03-22 04:00] #119 closed

[2019-03-23 14:54] georgejecook opened #127 "create file from template"
would be great to have a brs/Scenegraph specific version of https://github.com/brpaz/vscode-file-templates-ext, which is targetted to creating SceneGraph files (i.e can create comp and codebehind at same time)

[2019-03-25 11:32] chrisdp commented on #74
@georgejecook we can close this now yes?

[2019-03-25 20:03] georgejecook opened #128 "Support multiple hyperlink formats in output log"
Roku itself spits out the standard `pkg:/components/KeyLogTester.brs(24)` format, so by pushing the responsibility of `alternateText` off to a preprocessor, we would end up with a "mostly good" solution that still left any roku-generated pkg lines unshortened.

**I think we can handle the alternateText entirely from within in the extension**, which keeps this feature the most flexible, and would w

[2019-03-27 02:10] #74 closed

[2019-03-27 02:46] TwitchBronBron commented on #4
@timalacey  I don't do any Roku development right now, so I need some actual Roku developers to test it out and validate it before I merge. If you're interested in trying it out, and don't want to figure out how to build the project locally, let me know and I can get you a `vsix` bundle with these changes included for you test out.

[2019-03-27 14:18] georgejecook opened #131 "We need some easter eggs"
suggestion:
settings output.bogusOutput = true, will periodically dumps bill and ted ascii art in the console

[2019-04-01 10:44] #128 closed

[2019-04-01 10:47] TwitchBronBron opened #132 "Auto-continue breaks for multiple run loops"
There's a quirk in the brightscript debugging environment where, when continuing from a breakpoint, it seems that all active threads each `break` as well. This compounds as you get more active threads running, and makes the debugging experience unusable.

[2019-04-01 10:48] #132 closed

[2019-04-01 15:28] MendyK opened #133 "More verbose error messages"
I had an error where issues with my internet sharing were causing dev apps to not be able to be installed. When I tried to run in this extension, I got an error like "Unable to install application", but in Eclipse, I got a more verbose error message:

![Screen Shot 2019-04-01 at 11 03 37 AM](https://user-images.githubusercontent.com/8526110/55339688-26c51a80-5471-11e9-8a48-b8d899698ae6.png)

[2019-04-05 12:42] chrisdp opened #134 "GOTO statment flagged as errors"
![image](https://user-images.githubusercontent.com/9591618/55628390-f938e380-5786-11e9-9706-3a3cf2c214f7.png)
Flagged as:
Found unexpected token 'GOTO'brs(1000)

v9990.0-languageserver-beta14

[2019-04-07 23:56] TwitchBronBron commented on #134
Thanks. This is an issue in the underlying parser, and is tracked [here](https://github.com/sjbarag/brs/issues/158). When it lands in `brs`, it will be a simple nom update to fix it here.

[2019-04-09 13:01] chrisdp commented on #112
@nsillik  Been testing this and I think I have it working in a very ruff form. I will  continue to explore this today.

[2019-04-10 19:20] triwav opened #137 "AA keys not displayed properly when hovering"
If you have an AA with a key of either an `&` symbol or space it doesn't display properly. For the following:
[code]

The output on hover is:
[code]

If you have multiple keys with the same last part that's actually displayed it will actually only return one of these results as well.

[2019-04-11 02:36] jyoungl6 opened #138 "Setting break point in .brs script file causes deploy an debug to fail"
version 1.12.0

Add reference to brightscript source file in component XML
    <script type="text/brightscript" uri="pkg:/source/MainScreenScene.brs" />

Set break point in .BRS file. When starting the debug session the following error occurs:

[Window Title]
Visual Studio Code

[Content]
ENOENT: no such file or directory, open 'C:\Projects\Roku\MyProject\out\.roku-deploy-staging\c:\Projects\Roku\

[2019-04-11 11:36] timalacey commented on #4
Apologies for not getting back to you @TwitchBronBron

It works. I'm not too concerned with the 1.5 seconds lost due to the auto-run and then reacting to the /launch ECP.
Your feature also works on older Roku's which Eclipse never did, so thanks.

[2019-04-11 16:14] pixshatterer commented on #4
Apologies for not getting back to you @TwitchBronBron too!  totally swamped with non-roku projects right now so I had no chance to check this out - I would say go ahead!

[2019-04-12 03:17] chrisdp commented on #112
Fixed in #135

[2019-04-14 15:48] jyoungl6 commented on #138
This issue was resolved with version 1.12.1

[2019-04-14 15:48] #138 closed

[2019-04-17 19:01] triwav opened #142 "Allow a node to require extend"
So just learned that a node doesn't have to extend from another node type as it appears to fall back to using Group by default. This should not be reported as an error like it currently is `Component must have an extends attribute.brs(1007)`

[2019-04-17 19:03] TwitchBronBron commented on #142
Very interesting! So then, do you see any value in identifying this ever? I could downgrade this to a warning, (which can be turned off by using `ignoreErrorCodes`)....or I could just remove the check entirely. Thoughts?

[2019-04-17 19:07] triwav commented on #142
Yeah I'm cool with a warning especially if we explain why it still works.

[2019-04-18 13:39] chrisdp opened #144 "Auto complete now fails to return results for variables in file"
![image](https://user-images.githubusercontent.com/9591618/56364639-660b9f00-61c5-11e9-9b14-b0074066ef5a.png)
See the above image. Before auto complete was able to give me suggestions for something like this.

It wasn't smart enough to know that `scaleTestingLabel` was on `m` just that I had used it in the file. Yes this did mean you could end up with a lot of completion items but this was still b

[2019-04-19 10:17] TwitchBronBron commented on #120
@triwav was this resolved by the fixes that @georgejecook added to the debugger in #129?

[2019-04-19 10:19] TwitchBronBron commented on #118
@georgejecook is this still an issue?

[2019-04-19 10:19] TwitchBronBron commented on #108
@vbasky is this still an issue?

[2019-04-19 10:20] TwitchBronBron commented on #110
@vbasky has this been resolved?

[2019-04-19 10:21] TwitchBronBron commented on #72
@reidcooper I'm closing this issue for now. I'm willing to re-open if you have any suggestions on how this would actually be implemented.

[2019-04-19 10:21] #72 closed

[2019-04-19 10:22] TwitchBronBron commented on #34
This is available in the languageserver beta.

[2019-04-19 10:22] #34 closed

[2019-04-19 10:23] TwitchBronBron commented on #13
Fixed by #75

[2019-04-19 10:23] #13 closed

[2019-04-19 10:59] TwitchBronBron commented on #137
Fixed in 1.13.0

[2019-04-19 10:59] #137 closed

[2019-04-24 04:46] vbasky commented on #108
No I can happily close this issue. I don't see this error any more.

[2019-04-24 04:46] #108 closed

[2019-04-27 15:48] georgejecook opened #146 "Runtime Exception in LogDocumentLinkProvider prevents hyperlinks being clickable"
problem is in this code in `LogDocumentLinkProvider.setLaunchConfig`:

[code]

if this is required to facilitate hyperlinks, then perhaps it should not be optional?

[2019-05-03 01:12] vbasky commented on #110
Yes

[2019-05-03 01:12] #110 closed

[2019-05-04 19:53] georgejecook opened #147 "incorrect reporting of duplicate function"
![Screen Shot 2019-05-04 at 2 51 24 PM](https://user-images.githubusercontent.com/1214545/57184136-37a3ea00-6e7c-11e9-8fbf-ab63335ac057.png)

Getting a ton of errors reporting that a function is a duplicate in global scope, when it isn't.

The file is in the source path, and is included in various components, one of which is then extended by other components.

[2019-05-04 20:32] TwitchBronBron commented on #147
There are hard to track down without an example, because in most cases, it's dependent upon multiple factors in your project. Can you provide a working example project or steps to reproduce?

[2019-05-09 00:20] TwitchBronBron commented on #146
The files array should definitely remain optional. Instead, we are probably missing a section somewhere that gets the default files array from `roku-deploy`

[2019-05-13 17:39] John-Whitehead opened #148 "Can't create pure screensaver"
A 'pure' Roku screensaver uses RunScreenSaver() as its entry point.  There are no main() or RunUserInterface() functions in a pure screensaver.  A pure screensaver is not listed as a channel, only on the Screensavers page.

I created a pure screensaver using the extension and when I go to run it I see an error - "Unable to find an entry point. Please make sure that you have a RunUserInterface or M

[2019-05-17 19:37] chrisdp opened #152 "Large Arrays fail to parse"
found a bug in our variable logic for array. Looks like large arrays like the follow fail to parse because we don’t loop though them:

[code]

This can lead to the infante load when opening a variable tab or setting a watcher.
![image](https://user-images.githubusercontent.com/9591618/57951882-cde6ff80-78c1-11e9-933b-613c8ec6a363.png)

I am suggesting a change of how we handle and display array co

[2019-05-21 12:51] chrisdp opened #153 "Jump to file on compile error and display error details."
When encountering a compile problem when side loading it appears we may have enough info to infer what file contains the issue and for script files possibly even jump to the line.

Also when detecting this type of error we should show a VS Code error with the details rather then just `Error, statusCode other than 200: 400`.

[2019-05-29 11:31] chrisdp commented on #148
@TwitchBronBron This should now be supported with the merge of PR #149 Can this issue be closed?

[2019-05-29 19:30] TwitchBronBron commented on #148
@chrisdp yeah, it should be closed. Thanks.

[2019-05-29 19:30] #148 closed

[2019-05-29 19:34] georgejecook commented on #118
nope

[2019-05-29 19:34] #118 closed

[2019-05-31 01:01] kbunch opened #155 "Debugger can't handle an roList"
If you try to inspect an roList it cause the debugger to cease working and attempts to connect/deploy to cease working until you restart the device.

Here is a simple use case

[code]

Put a breakpoint at print and hover over foo, it will cause the debugger to go wonky

[2019-06-06 17:51] triwav opened #158 "Warns of file not existing for common:/ files"
<script type="text/brightscript" uri="common:/LibCore/v30/bslCore.brs" /> warns about the file not existing. Could either search for anything beginning with common:/ and not search for it or make a whilelist of accepted files. Think there are only 2 or 3 maybe.

[2019-06-11 08:56] aviadavi opened #159 "Source code refactoring - Extract Method/Variable"
Hi,

It would be nice if there will be an option to refactor brightscript code.

It will improve the quality and maintainability of the project by restructuring the code while not modifying the runtime behavior.

Thanks,
Aviad A

[2019-06-11 10:06] TwitchBronBron commented on #159
It's definitely on the roadmap! The issue right now is that we don't have variable or function tracking, so we wouldn't have a safe way to refactor.

The language server branch is slowly working its way there though...so hopefully this will be possible in the near future.

[2019-06-11 19:35] TwitchBronBron commented on #155
Fixed by #160

[2019-06-11 19:35] #155 closed

[2019-06-11 20:09] TwitchBronBron commented on #126
@georgejecook does #150 resolve this as well?

[2019-06-11 20:09] TwitchBronBron commented on #120
@triwav just checking in again, is this resolved?

[2019-06-11 20:10] TwitchBronBron commented on #109
This should be fixed now. Let me know if it's still an issue.

[2019-06-11 20:10] #109 closed

[2019-06-11 20:13] TwitchBronBron commented on #98
Closing this issue as it is not something this project will investigate at this time. Feel free to add to the discussion if you have any other justifications.

[2019-06-11 20:13] #98 closed

[2019-06-11 20:22] triwav commented on #120
This still happens at least for me. @georgejecook I think you did some work on something similar to this what was your thoughts on this?

[2019-06-17 22:00] #134 closed

[2019-06-17 22:03] chrisdp commented on #131
https://www.npmjs.com/package/ascii-art :P Might be a place to start

[2019-06-17 22:07] chrisdp commented on #112
@nsillik we can close this issue now correct? I added support for this a couple months ago unless you have been having issues with it?

[2019-06-21 12:18] iObject opened #163 "Support for auto naming outFiles from manifest"
Requesting support for outfiles (including component libraries) to automatically be named based on the manifest.

Example: `${title}_${major_version}_${minor_version}_${build_version}`

[2019-06-21 20:34] triwav opened #164 "Integer values in AAs aren't shown properly on hover"
When you have an integer (may effect other values as well) if it's an AA and you try to hover a usage of it it just returns the type not the value as well. In the image I also have direct reference to an integer that does work. Not sure if this because we're not even trying to make a request to 8085 since we know what is or if this specific to AAs
![image](https://user-images.githubusercontent.com

[2019-06-21 20:35] triwav opened #165 "Strings ending with " in AA don't show up right"
If a string ends with a " then it doesn't show right both on pop over and vars pane
![image](https://user-images.githubusercontent.com/1753881/59949636-b6131600-9441-11e9-95b8-0f319ec609bf.png)

[2019-06-21 22:13] triwav opened #166 "Use bracket notation instead of dot notation for value lookup"
If you have an AA like
[code]
neither of these will work because we're trying to do something like this
`print test.I have` or `print test.0` which won't work. There's other cases like if the key had a period in it or some other special character that causes issues as well.

If we instead use bracket notation then it will work
`print test["I have"]` or `print test["0"]`.
Since we're changing this

[2019-06-24 03:54] triwav opened #167 "Function not defined not handled correctly"
Noticed that the following isn't handled well by the extension. It basically isn't aware there was a crash at all. It also doesn't print the line `Function is not defined in component's namespace (runtime error &h91) in pkg:/components/ui/XXXX/XXXX.brs(21)` which makes it hard to figure out what the problem even is.
[code]

[2019-06-25 15:27] christinabrien opened #168 "No User-Agent header when doing ECP requests"
I noticed a lot of network traffic caused by queries that I tracked down to this plugin. It was made harder to identify because the HTTP requests have no User-Agent string.

query from 10.20.24.54:47878:
GET //query/device-info HTTP/1.1
'Host': '10.20.24.192:8060'
'Connection': 'close'

[2019-06-25 16:47] chrisdp commented on #168
Thanks for opening this issue. I worked on the feature that makes this call so I can work on added a change for this.

I might not be able to get to this till the beginning of next week due to moving this week.

[2019-06-25 16:52] TwitchBronBron commented on #168
@christinabrien, what would you recommend adding as the text for the user agent string? I definitely agree that we need some way of making these requests more easily identifiable.

[2019-06-25 16:59] chrisdp commented on #168
Also, just to add to this, if the device discovery is causing network problems you can disable it with the user setting: “brightscript.deviceDiscovery.enabled”: false

[2019-06-25 18:43] christinabrien commented on #168
It doesn't matter *what* the UserAgent is, as long as it is a unique string that can be identified as belonging to this project. "github.com/TwitchBronBron/vscode-brightscript-language" would do.

[2019-07-08 01:18] jonnyijapan opened #170 "Integrate static channel analysis tool"
I just saw that this exists.

http://devtools.web.roku.com/#static-channel-analysis-tool

Is there any plan to integrate it into the plugin somehow? Maybe just add an option to some menu to launch this on purpose, or maybe when doing an install (F5/Debug).

[2019-07-18 15:44] chrisdp commented on #168
PR created for this issue #173

[2019-07-19 00:26] georgejecook opened #174 "fails silently if launchConfig does not contain files value"
if files value is not present in a launchConfig, then the adapter will experience a crash, as in this location, due to files being undefined:

[code]

[2019-07-19 00:28] georgejecook opened #175 "does not warn if envfile cannot be found"
I had an envFile which had a case spelling error (`devstuff/.env`, instead of `devStuff/.env`) - it was not brought to my attention, and only through debugging the extension+adapter in the vscode host, did I discover that the launchconfig, had a stray "host" value, which was what the adapter was attempting to connect to

[2019-07-19 00:30] georgejecook opened #176 "improve logging for EPIPE errors, or perhaps deployment in general"
This looks like #14; but is different - the telnet session was not inacessible in this case: what happened was that it was connecting to the wrong ip address. I was not made aware to which roku ip it was attempting to connect, so had no other recourse but to debug the extension source - took me an hour, when a brief method of "could not connect to 192.168.0.102" would've sufficed.

perhaps there's

[2019-07-19 17:37] lvcabral opened #177 "Add support to "Next" keyword as an alternative to "End For" on syntax coloring."

[2019-07-22 00:41] chrisdp commented on #163
@iObject would
It be sufficient if the values where derived from the manifest by the keys entered. This way you could also add your own custom key to the manifest and that could be used.

[2019-07-22 00:45] chrisdp commented on #176
I have completed the other items I have been working on so I will attempt to work on this over the following week as it has also been an issue for me.

[2019-07-22 00:45] chrisdp commented on #175
I have completed the other items I have been working on so I will attempt to work on this over the following week.

[2019-07-22 12:20] chrisdp commented on #176
Also @georgejecook, the ext has a device selector built in now if you'rr using `"${promptForHost}"`. It scans the network for online devices and when you do a run it will ask you what device to use. If you do a Restart it will use the same device without asking. If you stop and start again the last device you used will be pre-selected.

[2019-07-22 15:31] jonnyijapan opened #178 "Include fonts in builds"
I noticed that fonts residing in `/fonts` are not included in builds. I had to put the font files (ttf) in components folder or they wouldn't copy.

[2019-07-22 16:37] georgejecook commented on #176
this is working fine, with `${promptForHost}`

[2019-07-22 20:04] chrisdp commented on #178
Font's are supported they are just not part of the default files array. The default included files glob is the following:

[code]

[2019-07-22 20:19] chrisdp commented on #176
PR opened to address this issue #179

[2019-07-22 20:20] chrisdp commented on #174
Opened a pr that should address this #180

[2019-07-22 20:21] chrisdp commented on #153
PR opened that will address this #179

[2019-07-22 20:25] chrisdp commented on #133
@MendyK I have opened a PR that should help with this #179
It will open the file with a compile issue, highlight the line reported to us from the Roku as being a problem and will add to the problems tab the description of the error. Hopefully this addresses your issue.

[2019-07-25 19:28] chrisdp commented on #163
PR opened here for this issue: #181

[2019-07-26 20:06] georgejecook opened #185 "only one sourceDir is used when using `FilenameAndFunction` logging"
I submitted a pr to partially fix `FilenameAndFunction` logging not working with sourceDirs; but only had time to process one sourcedir.
We should try them all, and ensure that performance is not degraded as a result.

PR for original issue is here.
https://github.com/TwitchBronBron/vscode-brightscript-language/pull/184

[2019-07-28 22:07] TwitchBronBron commented on #178
@chrisdp Is the `fonts` folder a special folder like `source` and `components` or is it just a regular folder?

[2019-07-28 22:26] chrisdp commented on #178
I don’t believe fonts is a special folder.

[2019-07-29 00:55] TwitchBronBron commented on #178
Ok. In that case, then the answer @chrisdp provided is correct. @jonnyijapan this isn't something we will fix in the extension, but is something you can easily override in your launch configuration. Just add the fonts folder to your files array and you should be good to go.

[2019-07-29 00:55] #178 closed

[2019-07-31 17:33] chrisdp opened #187 "Improve active device picker"
The idea is to add a status bar item and a extension command to pre-select your active device.

This would open the same device picker UI that is currently in use but by selecting a device with this approach it would act more like a "remember this device".

The status bar would also reflect some information about what device is currently set as the remembered device.

When a device is selected in

[2019-07-31 17:39] triwav commented on #187
Makes sense. So I currently use restart to get around this. The only downside would be if someone actually did want to switch each time but if the status bar is easy enough to use then that should work I would think

[2019-07-31 17:42] chrisdp commented on #187
@triwav right, also with the proposal if you didn't use the status bar or the extension command it would continue to act the way it does. You would need to intentionally set a device as remembered or would could also add a user set like `brightscript.deviceDiscovery.alwaysRemeberLastUsedDevice`.

[2019-07-31 17:43] triwav commented on #187
Ah gotcha. Even better. Sounds like all improvements with no downsides to me then.

[2019-07-31 17:57] chrisdp opened #188 "Improvements to how we handle Roku remote inputs"
I am opening this issue to talk over ways we might be able to improve how we send remote events to a Roku as the current approach gets triggered by mistake a lot and is not very user intuitive. One thing we would not want to lose is the easy ability to still view logs while using the remote inputs.

A few brain storm ideas below but would love to hear more ideas!

- This one would need exploring b

[2019-08-10 02:37] TwitchBronBron commented on #175
@georgejecook So, it appears that we have been doing a "does envFile exist" check for a while now (months). We check to see if the file exists, and throw an exception if it doesn't exist.
See [this line](https://github.com/TwitchBronBron/vscode-brightscript-language/blob/3f1cd5a6fae3869ae6cd8fb8350a03417cc82750/src/DebugConfigurationProvider.ts#L214).

Can you still reproduce this? If so, could yo

[2019-08-10 02:39] TwitchBronBron commented on #174
This was fixed as a result of #180.

[2019-08-10 02:39] #174 closed

[2019-08-10 02:40] TwitchBronBron commented on #167
@triwav we have made a few changes to the error handling recently. Could you re-test this to see if it's still happening?

[2019-08-10 02:41] TwitchBronBron commented on #168
Resolved by #173

[2019-08-10 02:41] #168 closed

[2019-08-10 02:41] TwitchBronBron commented on #163
Resolved by #181

[2019-08-10 02:41] #163 closed

[2019-08-10 02:44] TwitchBronBron commented on #133
@MendyK #179 fixed some issues with the error reporting, which you can see by running the latest version of the extension. Can you let us know if that provides the information you were looking for?

[2019-08-10 02:44] TwitchBronBron commented on #147
@georgejecook are you still seeing this as an issue?

[2019-08-10 02:45] TwitchBronBron commented on #153
Fixed by #179

[2019-08-10 02:45] #153 closed

[2019-08-10 02:48] TwitchBronBron commented on #61
@kbunch this feature was added to roku-deply. See its [options list ](https://github.com/TwitchBronBron/roku-deploy#options) for information.

@triwav are you using the rekey functionality from within the extension at all?

[2019-08-10 02:48] #112 closed

[2019-08-12 12:41] triwav commented on #61
@TwitchBronBron I use the roku-deploy npm module to use it. It could definitely be added to the extension but I have no plans to add that any time soon since we already run our script from the command line anyways.

[2019-08-12 14:40] kbunch commented on #61
@TwitchBronBron  @triwav It would be nice to add this to the extension as well just as an option for users. The use case would be to have 2 different setups in your config one for staging and one for prod. The one for prod would rekey the machine, repackage it, and pull the pkg locally.

[2019-08-12 14:45] triwav commented on #61
Sure understand the convenience but it's a good amount of work. If you want to do it in Vscode you could write a script to use roku-deploy to do it. Only around 10 lines of code.

[2019-08-12 15:23] chrisdp commented on #61
To add to this, I definitely agree that this should be in the ext in my opinion but at the same time I also think this would be a lower priority item.

The most flexible option is for users to ether leverage pre-launch tasks or create there own tasks using node that leverage roku-deploy. Since most people do a lot more then just create a PKG file, a lot of users will want tagging and committing. P

[2019-08-12 15:50] kbunch commented on #61
@triwav @chrisdp @TwitchBronBron
To be clear, what @chrisdp is suggesting is an advanced user and they'd probably be using roku-deploy directly with an automated process. I'm breaking users into 2 different sets advanced and junior. A junior potentially working alone with no automated processes would probably just want the ability to create a packaged/signed build directly from the IDE. They would

[2019-08-13 02:27] jonnyijapan opened #191 "roku deploy"
I can't get roku-deploy to find its configuration file `rokudeploy.json` when using this plugin.

From what I understand roku-deploy.json needs to be in the same folder as the manifest file. But it seems like it doesn't find it, because it's not bumping the build version as expected.

My roku-deploy.json looks like this

[code]

[2019-08-13 02:35] TwitchBronBron commented on #191
@jonnyijapan `rokudeploy.json` needs to be at the root folder where you are executing `roku-deploy` from...which is not necessarily the same location as your `manifest` file. If `rokudeploy.json` is a level or two above the folder where your `manifest` lives, you should set the `rootDir` property of `rokudeploy.json` so `roku-deploy` can find your project.

[2019-08-13 03:24] jonnyijapan commented on #191
When using roku-deploy standalone, it works well placing `rokudeploy.json` next to `manifest`. But rokudeploy.json is ignored when installing using this extension (vscode-brightscript-language). Maybe there's no way to use the roku-deploy options when launching/deploying using vscode and vscode-brightscript-language?

[2019-08-15 21:00] triwav opened #192 "Improve Deeplinking"
#4 covered adding deeplink support. With the work that @chrisdp has done to allow dynamic ip specification from a dropdown, it would be beneficial to be able to specify a deeplink without needing to provide the ip. It may make sense to just switch to `deeplinkParams` key and provide the actual key value pairs since I think you'll pretty much always be doing a deeplink request not input since you c

[2019-08-16 03:54] jonnyijapan opened #193 "Add all options for roku-deploy"
It would be nice to be able to use all of the roku-deploy options (in rokudeploy.json normally if using roku-deploy only) directly from launch.json.

[2019-08-16 03:54] jonnyijapan commented on #191
Found out this doesn't work.

[2019-08-16 03:54] #191 closed

[2019-08-16 11:17] TwitchBronBron commented on #193
The launch.json is specifically used for launching debug sessions, so not all of the roku-deploy options make sense to be added to `launch.json` (like `signingPassword` for example, which is used to create Roku store-publishable packages). If you intend to create a Roku store-publishable package, you should use `roku-deploy` directly to create the package and specify the options you want.

I can d

[2019-08-29 15:31] chrisdp opened #194 "Dynamic manifest via launch.json"
I envision being able to create a manifest in the lanuch.json via a prop such as:

[code]

This could ether update existing values or maybe even create the entire manifest on the fly.

[2019-09-17 01:35] #152 closed

[2019-09-18 15:22] chrisdp opened #197 "incorrect function syntax color"
![image](https://user-images.githubusercontent.com/9591618/65161913-cb7ee880-da0e-11e9-903b-7bee5e606d56.png)
![image](https://user-images.githubusercontent.com/9591618/65161920-cf126f80-da0e-11e9-85a6-c85d4f3e5feb.png)

`fromSeconds` and `AssertEqual` should be yellow like the `fromISO8601String` function call.

[2019-09-19 09:53] TwitchBronBron commented on #197
I feel like there might be something else at play here, because all of my functions are coloring properly. Do you have any custom color settings?
![image](https://user-images.githubusercontent.com/2544493/65233939-b1dab100-daa1-11e9-8409-6b07b8a2d0c1.png)

[code]

[2019-09-21 16:38] TwitchBronBron opened #202 "Support sourcemaps"
The debugger should support sourcemaps. This would allow any number of preprocessors to gain full debug support in the IDE

[2019-09-21 16:38] TwitchBronBron commented on #202
@georgejecook, I have started working on this

[2019-09-21 16:44] chrisdp commented on #202
Woot, I am very excited for this!

One thing to do early is keep component libraries in mind and how they may appear to have file conflicts but because they are compiled in there own sandbox they are not actually conflicting.

I would be happy to experiment on alphas of this work with potential maps created form a project I am working on so we can find support issues as soon into this as possible.

[2019-09-21 17:08] TwitchBronBron commented on #202
The first thing I am doing is implementing the maps within the breakpoint-insertion code. So, technically every project will be using sourcemaps soon. :D I figured that's a good way to validate it right out the gate. Every file with a breakpoint will get rewritten using the source-map library. Then we will read those maps to translate the line numbers back to the source (instead of our kludgy line

[2019-09-21 17:09] TwitchBronBron commented on #202
And yes, I will definitely keep component libraries in mind. They will be first-class citizens in this endeavor, as I don't want to break them.

[2019-09-25 10:38] tomek-r commented on #197
hi,
I have the same issue as @chrisdp

![image](https://user-images.githubusercontent.com/1422697/65593640-32f9e280-df91-11e9-9c1a-a48c6ef988cf.png)

It seems to be caused by one of the latest updates.

[2019-09-30 11:30] chrisdp opened #204 "Silent crash when static comp lib hosting port is already in use"
Currently of some other program is occupying the same port that the extension is trying to host component library files on it will error but no feed back is given to the user.

We should try to open a VS Code error popup or at minimum something in the output log so they can debug.

[2019-10-01 17:29] lvcabral commented on #177
I noticed that this is no longer an issue in version 1.20, so closing it. kudos for the team.

[2019-10-01 17:29] #177 closed

[2019-10-02 01:44] TwitchBronBron commented on #177
Thanks for cleaning this up. I totally forgot that I fixed this!

[2019-10-04 19:22] chrisdp opened #209 "component creation from template files"
Detail to be added but the TLDR is as a user I was to be able to create common component types from templated files in a `.templates` folder. First steps would likely be to have this via a CLI using brighterscript.

[2019-10-04 19:23] chrisdp opened #210 "Build in a proxy middleware layer"
TDB

[2019-10-04 19:23] #204 closed

[2019-10-04 19:25] chrisdp commented on #197
@tomek-r This was fixed in the latest release of `1.20.1` Can you please verify and I will close this issue.

[2019-10-05 08:31] tomek-r commented on #197
@chrisdp thank you for updates.
![image](https://user-images.githubusercontent.com/1422697/66252368-0dbc5f80-e75b-11e9-9afa-9d87ff942120.png)

`1.20.1` is partial fix. There is still issue with `if`, `while` and `m.top`.

[2019-10-05 11:55] chrisdp commented on #197
Ah thanks. Will try and take a look. I didn’t catch that because I didn’t have my conditionals wrapped like you.

[2019-10-10 16:01] triwav opened #211 "Hovering while file has error causes warning"
If you open a file and cause an error in it and immediately hover over a variable it will spit out something like:
[code]

[2019-10-23 20:17] TwitchBronBron commented on #170
@chrisdp and I just had a discussion about this, and we definitely want to integrate this into the extension at some point. Here is the design we came up with so far:

1. Add several workspace settings:
[code]

2. When `enableStaticChannelAnalysis` is enabled, the extension will spin up a watcher for every file found in `staticChannelAnalysisZipPaths`. Anytime any of those zip files are changed, R

[2019-11-08 21:29] TwitchBronBron commented on #211
Fixed by #213

[2019-11-08 21:29] #211 closed

[2019-12-04 20:57] stevedekorte commented on #15
I'm still not able to search the debug console on VS 1.40.2 on OSX. Am I missing something?

[2019-12-04 23:16] TwitchBronBron commented on #15
Yeah, we basically abandoned the debug console. lol. We pipe all of the output into an Output panel in vscode named "BrightScript Log". The output panels are much more flexible. Give that a try. :)

![image](https://user-images.githubusercontent.com/2544493/70189767-2a750500-16c2-11ea-8364-422ae30a08c9.png)

[2019-12-09 12:23] zWaR opened #214 "VSC task 2.0.0 configuration"
Hi there,

I just installed the extension and wanted to give it a try. However, I ran into issues with VSC tasks 2.0.0 configuration. Since the examples in the documentation are for version 0.2.0 I could not use them directly, so I tried something like this:

[code]

Unfortunately, even by only defining this, I already get a linter error saying that `brightscript` is not a valid task type. If you

[2019-12-09 14:11] chrisdp commented on #214
@zWaR are you putting this in a tasks.json or the launch.josn?

This should be in the launch.json file.

[2019-12-10 11:43] TwitchBronBron commented on #214
@zWaR did that fix your issue?

[2019-12-12 11:46] zWaR commented on #214
@TwitchBronBron Yes that fixed it thanks! :)

[2019-12-12 11:46] #214 closed

[2019-12-18 23:36] John-Whitehead opened #216 "Improvement to logging"
I think a great new feature would be to have an option to log the OUTPUT, BRIGHTSCRIPT LOG and other windows to an output file on the filesystem for viewing dynamically as it is written, or later on after the session is over.

Right now, once you close VS Code, all that information disappears and is lost.

[2020-01-12 17:49] TwitchBronBron commented on #216
I like this idea a lot. We could add an option in user settings (or the launch config) for specifying a logfile location. Then, all of the output sent to the BrightScript log channel could also be appended to that file. The BrightScript output channel would still be cleared on every vscode close, but this way you would at least still have the original output.

How does that sound?

How does that s

[2020-01-12 17:55] TwitchBronBron commented on #193
@jonnyijapan can you specify which roku-deploy options are missing that you would like to have added to the launch.json configuration?

[2020-01-16 10:40] TwitchBronBron commented on #202
Just an update, I have a working version of the extension with sourcemap support. Still have a few bugs to track down, but its mostly ready. I'll be testing and validating in the next week or two, but this is very close.

[2020-01-19 15:50] John-Whitehead commented on #216
Thanks Bronley, that would serve my needs very well.  It is up to you whether it is a user or launch setting, but I think launch.json would be the best place given some projects have multiple launch configs.  I am not expert enough to know for sure though.

[2020-02-26 02:55] #202 closed

[2020-03-07 21:08] #216 closed

[2020-03-08 01:28] TwitchBronBron commented on #175
@georgejecook does this still happen? If so, could you provide reproducible steps? Otherwise, can you close this issue?

[2020-03-08 01:28] TwitchBronBron commented on #167
@triwav any update?

[2020-03-08 01:30] TwitchBronBron commented on #1
I'm closing this ticket. Roku has released a formal socket debugging protocol, which returns the full file path. So, there's not much benefit to updating the hacked-together telnet debugger at this point. We will eventually align with the official socket debugging protocol, and then this will be a non-issue.

[2020-03-08 01:30] #1 closed

[2020-03-10 16:58] triwav commented on #167
@TwitchBronBron yes it seems to be working better. Closing.

[2020-03-10 16:58] #167 closed

[2020-04-05 13:21] John-Whitehead commented on #216
Bronley - thanks so much for this.  I finally have a chance to use it now.

[2020-04-05 13:54] TwitchBronBron commented on #216
Glad to hear it!

[2020-04-10 17:00] reidcooper opened #225 "In Function `Substitute`, the `Sub` is highlighted as if it was a function declaration"
Roku's Global Function, `Substitute`, has the characters `Sub` highlighted as if it was a function declaration.

<img width="204" alt="Screenshot 2020-04-10 12 59 57" src="https://user-images.githubusercontent.com/6921277/79008348-30289e80-7b2b-11ea-9db0-db205059a95d.png">

[2020-04-11 03:49] TwitchBronBron commented on #165
@triwav can we close this since the telnet debugger will soon be depricated in favor of the BrightScript debug protocol?

[2020-04-11 03:49] TwitchBronBron commented on #133
Closing due to inactivity.

[2020-04-11 03:49] #133 closed

[2020-04-11 03:53] #165 closed

[2020-04-11 03:53] TwitchBronBron commented on #28
@georgejecook additional details here would be great. :D

[2020-04-11 03:53] #79 closed

[2020-04-11 04:42] #225 closed

[2020-04-11 11:30] #175 closed

[2020-04-12 14:42] John-Whitehead opened #226 "Incorrectly reporting errors"
Operating System: Fedora 30
VS Code: 1.44.0
BRS Extension:  2.1.2

I am getting red squiggle lines under code which is actually correct.  It was on a huge non-SG screensaver `main.brs`, but I can reproduce it at will with the following steps.
`$ mkdir test`
`$ cd test`
`$ code .`

Then type or paste the following code:
[code]
All should look well, until you hit `<CTRL-S>` and save as `main.brs.`

[2020-04-12 16:59] TwitchBronBron commented on #226
I'm a little confused about "Then type or paste the following code:". Do you mean open a new untitled file in vscode?
![image](https://user-images.githubusercontent.com/2544493/79074946-6f86f480-7cbd-11ea-91dc-e13f7e31dde9.png)

 If so, then the language validation doesn't actually work for those types of files. The file needs to have been saved with a .brs extension. So this all actually makes se

[2020-04-12 18:02] John-Whitehead commented on #226
You are correct, Bronley.  You need to open a new file before pasting the code.  I updated my original comment. Yes, the errors do not appear until after the file is saved with a .brs extension and the status line at the bottom changes from "Plain Text" to "Brightscript".  So, the thought that it happens sometimes and not others was just a red herring.

[2020-04-13 13:20] chrisdp commented on #210
Closing due to the complicated nature of this feature.

[2020-04-13 13:20] #210 closed

[2020-04-13 13:28] chrisdp commented on #176
@georgejecook this should be fixed now yes? Can we close this issue?

[2020-04-13 13:30] chrisdp commented on #166
@triwav with us moving to the debug protocol I think we can close this yes?

[2020-04-13 13:40] #166 closed

[2020-04-14 03:28] TwitchBronBron commented on #210
@chrisdp I think this is still a viable option. Might not be the easiest thing to do, but if it will benefit the community then it's totally worth investigating.

[2020-04-14 03:30] chrisdp commented on #210
The issue is that there are so many ways to do this and there is. I one way that is going to work well for everyone. Maybe we can look at this down the road but there are solutions out there to there issue. All of them with there own reasons to be used or not.

[2020-04-16 13:37] triwav opened #227 "Can no longer store launch configs in settings.json"
launch configs can not only be stored in launch.json but also in your user settings file. This is helpful so that if you open a folder in vscode you can still run it on your Roku without adding a launch.json locally. I believe it was in either beta 48 or 49 that this broke and now complains about uri being null I believe. This how it looks in the settings.json file:

[code]
This goes at the base o

[2020-04-27 11:27] jfrux opened #228 "Autocomplete on `m.` and `end function` reportedly causing issues for some users."

[2020-05-02 04:33] TwitchBronBron opened #229 "Colorization of `new` keyword is not correct"
Using the `new` keyword to construct a class does not color properly.

![image](https://user-images.githubusercontent.com/2544493/80855137-70e87480-8c0c-11ea-8310-8adb2055b296.png)

It _should_ look like this:

![image](https://user-images.githubusercontent.com/2544493/80855149-7e056380-8c0c-11ea-9358-9ff30b14c9e0.png)

[2020-05-02 05:35] #229 closed

[2020-05-04 17:40] luis-soares-sky opened #230 "Extension causes high cpu load"
We're noticing consistently high processing times, and the process will keep running even after closing VS Code.

<img width="852" alt="Screenshot 2020-05-04 at 18 26 42" src="https://user-images.githubusercontent.com/57358121/80994618-d3bc5480-8e34-11ea-9f0b-c8176cf96665.png">

---

- Issue Type: `Performance`
- Extension Name: `brightscript`
- Extension Version: `2.1.11`
- OS Version: `Darwin x6

[2020-05-04 19:09] TwitchBronBron commented on #230
Thanks! This is very helpful. I'll try and dig into this to see if I can narrow down the cause of the issues.

In the mean time, if you are unable to work, you can disable the language server with a user/workspace setting. However, that will obviously remove any inline parse checking.

[2020-05-04 19:10] TwitchBronBron commented on #230
Sorry, forgot to mention which setting.

Set `brightscript.enableLanguageServer` to false to disable it completely.

[2020-05-04 21:00] twig2let opened #231 "Formatter chokes on "next" and breaks indentation"
There appears to be an issue with the formatter, it chokes on "next" e.g. `.next` `" next "` . For example, try formatting the below and notice how everything after the `else` is indented incorrectly.

[code]

![image (1)](https://user-images.githubusercontent.com/1450141/81013053-73d4a680-8e52-11ea-8380-48fff45df286.png)

[2020-05-05 19:02] TwitchBronBron opened #232 "Update local-pack to include roku-debug"
There are times when we need to create a vsix based on local projects. We already have local-pack.js which does this for brighterscript and roku-deploy, but we need to enhance it to include roku-debug.

[2020-05-05 19:03] #232 closed

[2020-05-05 20:07] TwitchBronBron opened #233 "public|protected|private colored wrong"
![image](https://user-images.githubusercontent.com/2544493/81111104-839fc980-8eea-11ea-886b-51c3aef91d55.png)

[2020-05-05 20:08] #233 closed

[2020-05-05 20:14] TwitchBronBron commented on #230
There is definitely a performance issue, introduced after 0.8.2. I ran a few benchmarks, and I think that I have some fixes. If my fixes didn't break anything else, then I have actually doubled the performance of the parser since 0.8.2.

![image](https://user-images.githubusercontent.com/2544493/81108168-46d1d380-8ee6-11ea-9d3a-ae3fc154e8be.png)

I have the fix local, and will release it after a l

[2020-05-06 10:48] TwitchBronBron commented on #230
@luis-soares-sky, extension version 2.1.14 includes these changes. Can you please try it again and see how it works for you? Also if you have a chance, compare 2.1.14's performance to 2.1.9 (the last release without the performance bugs) and see if it has improved at all.

[2020-05-06 20:26] luis-soares-sky commented on #230
I don't know how to take metrics like the ones you posted, but it's safe to say that I'm not getting hanging processes anymore, and overall the performance feels much better. Even more so than 2.1.9 which did feel a bit sluggish in comparison.

Thank you!

[2020-05-07 00:02] TwitchBronBron commented on #230
Good to hear! The metrics I posted were from a custom benchmark script I wrote just for this. I'm working on converting it into something that GitHub Actions can run on every pull request, so that way we can catch performance regressions before they get released. :) I'm going to close this issue, but please keep us informed if you notice any other performance issues.

[2020-05-07 00:02] #230 closed

[2020-05-08 20:49] triwav opened #234 "brightscript.debug.logfilePath with ${workspaceFolder} fails with "Cannot read property 'uri' of undefined""
Setting the following in settings fails because ${workspaceFolder} doesn't get converted to the absolute path.
{
	"brightscript.debug.logfilePath": "${workspaceFolder}/out/benchmarks_output.txt"
}
if you use an absolute path it works correctly

[2020-05-09 05:01] TwitchBronBron opened #235 "bs_const support manifest style in launch.json"
We should support the standard bs_const string from the manifest in the launch.json. Right now the launch config only supports a json object.

[2020-05-12 19:21] TwitchBronBron opened #236 "brightscript.deviceDiscovery.enabled not working properly"
brightscript.deviceDiscovery.enabled doesn't work right. currently it seems that it toggles whether discovery should happen on startup, or be deferred until first launch. However, if it's set to false, we still have to wait 5 seconds on our first launch.

We need 2 things:
1. enable/disable device discovery on startup
2. enable/disable "wait for device discovery" when launching a debug session.

[2020-05-12 23:20] TwitchBronBron opened #237 "hide the conditional breakpoint local variables in vars request"

[2020-05-12 23:28] TwitchBronBron opened #238 "Add dedicated section in the readme for rendezvous tracking"
We only have a single line explaining rendezvous, but it deserves its own dedicated section.

[2020-05-12 23:37] TwitchBronBron opened #239 "Add rendezvous tracking commands in the extension"
Add as a vscode command, and possibly in some section like the rendezvous panel as button or in the dropdown.

[2020-05-13 04:36] chrisdp commented on #36
@georgejecook i thunk we can call this one fixed now what do you think?

[2020-05-13 04:37] chrisdp commented on #43
@georgejecook is this still an issue for you. I run my VPN on my router so turning it on and off hasn’t affected me more have I seen this issue.

[2020-05-13 04:39] chrisdp commented on #46
Thinking with the work happening on the debug protocol we can likely close this issue @georgejecook @TwitchBronBron ?

[2020-05-13 04:44] chrisdp commented on #61
Just going thought the open issues and saw this. @kbunch @triwav @TwitchBronBron what about adding a command to the extension that then asks from what launch config would you like to build the package from?

[2020-05-13 04:46] chrisdp commented on #93
@TwitchBronBron sounds like it shouldn’t to bad of lift? So you think you could post some details where this change might happen here and if I get some time I might try to add this.

[2020-05-13 04:49] chrisdp commented on #116
@triwav Thinking we can call this one fixed? Only time this seems to happen now is if the box is in a really messed up state. But that’s rare now and there’s not a lot we can do about it. Also I think the debug protocol addresses this issue long term.

[2020-05-13 04:53] #144 closed

[2020-05-13 13:36] triwav commented on #116
I still see it happen. The fact we now allow you issue your own commands this is way easier to fix by just issuing the quit command yourself

[2020-05-13 15:00] chrisdp opened #240 "new flagged as error in .brs"
![image](https://user-images.githubusercontent.com/9591618/81829443-43a39c80-9511-11ea-9c71-704d12db01e3.png)

[2020-05-20 09:13] luis-soares-sky opened #244 "Can't build apps after 2.1.20"
Using VS Code 1.45.1, Node 12.8.1, in macOS 10.14.6 (Mojave).

Given the following launch configuration...

[code]

In 2.1.19 this config works, and builds run successfully.

In 2.1.20 I get an error saying **"outDir is required"** message.

![image](https://user-images.githubusercontent.com/57358121/82428389-57f01800-9a82-11ea-9607-6b11f86b2c75.png)

If I add `"outDir": "${workspaceFolder}/out"`

[2020-05-20 10:51] TwitchBronBron commented on #244
What's strange about this is, all that changed between 2.1.19 and 2.1.20 was [some updates to the language server](https://github.com/RokuCommunity/vscode-brightscript-language/compare/v2.1.19...v2.1.20). The only part of brighterscript that is being used by the launch workflow is bsconfig.json if it exists.

Do you have a bsconfig.json file in your project?

[2020-05-20 10:57] luis-soares-sky commented on #244
I don't have a bsconfig.json file. The project is in the root directory, we use gulp to process and export some files into the "build/" folder, but outside of that, everything else is just standard BrightScript projects.

I've tried it on multiple projects (simple and complex) and got the same results. Reverting to 2.1.19 solves the issues.

[2020-05-20 11:05] luis-soares-sky commented on #244
![image](https://user-images.githubusercontent.com/57358121/82439062-f2a42300-9a91-11ea-9d8e-e643c2e0eb43.png)

Not sure if it helps, but it seems that in 2.1.20, the "Output" view doesn't show any of the extension logs that used to appear (Log, Debug, Language Server...)

[2020-05-20 14:42] jean-guyrivard commented on #244
Same issue, and reverting to 2.1.19 fixes the issue.
In my case the outDir, once fixed I get an error with invalid URI with http://${promptForHost}/keypress/home which probably explains the connection refused from the OP.

[2020-05-20 14:44] chrisdp commented on #244
So we found the issue. @TwitchBronBron Is planing to get a new build out tonight we the fix.

Thanks.

[2020-05-20 19:44] TwitchBronBron commented on #244
Fixed in [v2.1.21](https://github.com/rokucommunity/vscode-brightscript-language/releases/tag/v2.1.21)

[2020-05-20 19:44] #244 closed

[2020-05-20 19:51] TwitchBronBron opened #246 "restart debug session doesn't work"
Quite often, clicking the "restart" button for a debug session doesn't work at all. We should fix this...

[2020-05-20 19:52] TwitchBronBron opened #247 "Cache device detection info for quicker startup time"
When the device detection process runs, we should cache that information to a file so we can have quicker startup times.

This caching can be disabled by a flag for those who would rather wait every startup.

[2020-05-21 08:22] luis-soares-sky commented on #244
Can confirm the fix. Thank you very much!

[2020-05-23 19:06] georgejecook opened #249 "allow swapping to see built source"
much like .bs/brs/xml

I have this for my current compiler; but it's just as important for this one - many of the errors I get do not map to anything in the ide, so I have to manually find files in terminal.

I have code to do this; just need some help identifying the right file. I'll ping you about it.

This is really important imo; especially in the early phases, where some of the compile errors

[2020-05-26 17:34] georgejecook commented on #249
Is this much more work? coz I have a command ready to go, with just one line of code missing (how to get the original source file from the log output)

I'd rather get something that works quickly, to assist early adopters with debugging, which is the goal here, and leave a more fully-feature-rich version to someone who cares about such things in the future- I literally only need (and have regularl

[2020-06-04 19:44] TwitchBronBron opened #251 "launch.json options should be optional since could be declared in bsconfig"
Several launch.json options are marked as required, but should be optional since they could be loaded from the bsconfig.json. We need to validate them in the DebugConfigurationProvider to make sure they exist, but there's no reason to enforce them in the launch.json since we can't enhance the json schema validation to be bsconfig.json aware.

Thanks @triwav for reporting this.

[2020-06-04 21:01] #251 closed

[2020-06-05 02:51] TwitchBronBron opened #252 "Snippets very likely confuse snippet-variables and snippet-placeholders"
![image](https://user-images.githubusercontent.com/2544493/83831561-aa058000-a6b5-11ea-8a4b-1e4ce963af4a.png)

@markwpearce do you have any time to investigate this? It shows up anytime I run the extension host (when debugging extension code).

[2020-06-05 11:47] markwpearce commented on #252
Yes, I'll take a look

[2020-06-10 10:51] #252 closed

[2020-06-11 17:32] georgejecook opened #254 "val function call with 2 args incorrectly reported as error"
have a project with this valid code. it's flagged as an error
``
      firstAsInt = val(first, 10)

[code]

[2020-06-11 18:17] georgejecook opened #255 "bs stack breakpoint goes to brs file, not bs file"
I have a RTE in some code in the new function of a bs file.

sourcemaps are working fine EXCEPT in the stack trace where the constructor call is..

so..

this line of code is my bs:

[code]

but the stack takes me here:

[code]

[2020-06-14 20:40] georgejecook opened #257 "Logoutput line locations need to take sourcemaps into account"
Currenltly navigation is based of brs line number, which is completely different to bs source line in almost all cases.

Should just be a simple case of add a sourcemap lookup when redirecting.

[2020-06-16 14:27] georgejecook commented on #257
I've looked into this further, and there is no cheap way of doing this: I think we need to ask folks to apply their manipulations for log line output etc; prior to transpiling their code, coz I see no easy way of getting any sourcemap for any logged output in a performant manner, so I'm going to close this for now

[2020-06-16 14:27] #257 closed

[2020-07-04 04:16] Almenon opened #258 "[dev enhancement] Actual Uri can be used instead of mock"
In https://github.com/rokucommunity/vscode-brightscript-language/blob/master/src/mockVscode.spec.ts it isn't needed to mock uri - I recently VScode offers uri as a seperate library. See https://github.com/microsoft/vscode-uri

Example of how to change to vscode-uri:
https://github.com/Almenon/AREPL-vscode/commit/90d933d423d7293883b2c1832bba2b3847718360

[2020-07-04 04:45] Almenon commented on #258
nevermind, looks like you can import uri directly from vscode somehow. I get a error loading vscode when I try :(

[2020-07-04 11:07] TwitchBronBron commented on #258
We mock many parts of vscode because when running the mocha tests, vscode is unavailable. That's because vscode only injects the vscode apj when running the actual editor. Which makes node and CI-driven tests not work since the vscode import will be undefined or fail.

So this is actually a good point, we might as well use the actual Uri object.

[2020-07-08 09:04] Puritanic opened #259 "Version 2.5: The "path" argument must be of type string. Received type undefined"
The extension started crashing with the new version.

Notification errors:

[code]

[code]

The output from the Brighterscript Language Server:

[code]

VSCode version and OS info:
[code]

[2020-07-08 10:40] TwitchBronBron commented on #259
Does the extension crash every time it starts, or is this just occasionally?

[2020-07-08 12:14] Puritanic commented on #259
It's crashing every time I open the project, and the error notifications are appearing each time I save brightscript or XML file.

[2020-07-08 19:10] arcendu opened #261 "Version 2.5 no longer allows me to run brightscript project."
After updating to 2.5.0 my project no longer runs. When I start debugging the debugger stops.
When I go back to previous version 2.4.6 project works again.
2.5 does not show anything in the output.

[2020-07-08 20:47] TwitchBronBron commented on #261
Does the extension still fail when you debug some of these sample projects?

https://github.com/rokucommunity/sample-projects

[2020-07-09 08:05] Puritanic commented on #259
I think that I've found out the culprit for extension crashing. Here is the project's `bsconfig` file content:
[code]
Removing `"stagingFolderPath": "./out/temp/"` from it solves the crashing problem, but I now can't build a zip file with `bsc`, possibly related to this issue in brighterscript repo: https://github.com/rokucommunity/brighterscript/issues/127.

[2020-07-10 18:12] elsassph opened #263 "Auto-indent after function declaration"
Pressing `Enter` after a function declaration doesn't result in auto-indentation:

[code]

[2020-07-11 11:36] chrisdp commented on #263
Yes. This would be very nice. I was playing with this about a week ago but my regex was not complete enough.

[2020-07-15 11:31] TwitchBronBron commented on #259
This should be fixed in [v2.5.4](https://github.com/rokucommunity/vscode-brightscript-language/releases/tag/v2.5.4). Feel free to re-open if there are further issues.

[2020-07-15 11:31] #259 closed

[2020-07-15 11:31] TwitchBronBron commented on #261
I think this was related to #259 and should be fixed in [v2.5.4](https://github.com/rokucommunity/vscode-brightscript-language/releases/tag/v2.5.4). Feel free to re-open if there are further issues.

[2020-07-15 11:31] #261 closed

[2020-07-15 14:02] chrisdp opened #264 "Improve deep link support"
Hey everyone! We are currently talking about away to make deep link support more flexible and easier to configure. Including support for many deep combinations. I think we are mostly set on the structure but are looking for some feedback on the naming of the object where you define all your combinations. The current name options are testCases, options, or useCases.

The goal is just to make sure t

[2020-07-16 18:48] joetesta opened #265 "Auto complete sometimes replaces the intended word with longer word that includes intended word"
I’ll be typing along and suddenly a word just typed turns into something much longer that includes the word I just typed; the intended word was not on the list of auto-complete items (this may be the issue)
TODO:

[2020-07-17 07:25] AliceB-aus commented on #265
I got it a lot today. Could trigger it across many .brs files
Trying to type `m.global.<something>` and when I pu the second . in it would auto change to `m.GetGlobalAA`
![Screen Shot 2020-07-17 at 5 22 10 pm](https://user-images.githubusercontent.com/66281982/87759781-2c0acc00-c852-11ea-8f43-48c6fa5641be.png)

Usually this list was appearing but sometimes others, occasionally just m.GetGlobalAA b

[2020-07-21 01:20] arcendu commented on #261
Outstanding it works great! Thanks @TwitchBronBron

[2020-07-21 02:11] TwitchBronBron commented on #261
Great, thanks for the update!

[2020-07-23 16:25] sschaub opened #267 "Ctrl-click navigation should not suggest files in out folder"
When using ctrl-click to navigate in .brs files - sometimes vscode shows two possibilities, one of which is in the out/.roku-deploy-staging folder. If I inadvertently click that one and edit, I lose the edit when I redeploy.

I recommend excluding the out folder from the ctrl-click navigation search.

[2020-07-23 17:48] sschaub commented on #267
The out folder can be excluded by including in .vscode/settings.json:

    {
      "files.exclude": {
        "out": true,
        "search.exclude": {
            "files.watcherExclude": {
                "out": true
            }
        }
      }
    }

[2020-07-24 08:55] Puritanic opened #268 "Compilation Failed when starting debug session"
My guess is that this is caused by this line in one of my HTTP handlers:

[code]

Is there any limitation for reading project files with readAsciiFile? I've searched through Issues and couldn't find anything.

I'm also receiving these errors in VSCode dev tools:

[code]

I have extension version 2.5.4 installed

VSCode:
[code]

[2020-07-28 20:37] TwitchBronBron opened #270 "Support bsfmt.json files natively within the extension"
The extension should support loading `bsfmt.json` formatter options from brighterscript-formatter.

[2020-07-29 10:40] #270 closed

[2020-07-30 10:27] Puritanic commented on #268
Figured that I haven't passed this file's path to bsconfig files property... Closing

[2020-07-30 10:27] #268 closed

[2020-08-03 19:19] #263 closed

[2020-08-04 17:53] georgejecook opened #272 "show PARENT of node in debugger"
we show a node's children as a courtesy; we should do the same for a node's parent

this is especially important when using the socket debugger, which does not have a REPL, so this feature is currently being taken away from users - this would be a simple workaround.

[2020-08-04 18:06] georgejecook commented on #272
closing, coz it's just a temporary fix; best to wait for a proper solution.

[2020-08-04 18:06] #272 closed

[2020-08-11 17:22] georgejecook commented on #249
the feature you added to resolve this is awesome. thanks.

[2020-08-11 17:22] #249 closed

[2020-08-12 11:36] georgejecook commented on #255
this appears to be resolved. thanks

[2020-08-12 11:36] #255 closed

[2020-08-12 11:38] georgejecook commented on #185
this has been dealt with

[2020-08-12 11:38] #185 closed

[2020-08-12 11:38] georgejecook commented on #176
fixed. closing

[2020-08-12 11:38] #176 closed

[2020-08-12 11:38] georgejecook commented on #147
no

[2020-08-12 11:38] #147 closed

[2020-08-12 11:39] georgejecook commented on #146
resloved

[2020-08-12 11:39] #146 closed

[2020-08-12 11:40] georgejecook commented on #55
this was a sily idea. I got control of these projects and fixed the code, not the IDE ;)

[2020-08-12 11:40] #55 closed

[2020-08-12 11:40] georgejecook commented on #46
yep.

[2020-08-12 11:40] #46 closed

[2020-08-12 11:40] georgejecook commented on #43
fixed.

[2020-08-12 11:40] #43 closed

[2020-08-12 11:40] georgejecook commented on #36
yep.

[2020-08-12 11:40] #36 closed

[2020-08-12 11:41] georgejecook commented on #29
not necessary - there are other ide extensions that do this. I'm using: https://marketplace.visualstudio.com/items?itemName=mishkinf.goto-next-previous-member

[2020-08-12 11:41] #29 closed

[2020-08-12 11:44] georgejecook commented on #27
done.

[2020-08-12 11:44] #27 closed

[2020-08-12 11:45] georgejecook commented on #23
I don't think I've once wanted this since I raised it. closing.

[2020-08-12 11:45] #23 closed

[2020-08-12 11:46] georgejecook commented on #131
I think we'll go fight club on this. closing

[2020-08-12 11:46] #131 closed

[2020-08-14 00:38] pixshatterer opened #273 "Incorrect root dir used in certain prelaunch use cases"
Seems like `rootDir` path must exist even if In certain cases `rootDir` path is expected to be created during `preLaunchtask` execution.   If `rootDir` doesn’t exist beforehand, it takes `${workspace}` as fallback root folder, even if `preLaunchtask` was able to successfully create it before debug session starts.

[2020-08-14 22:32] TwitchBronBron commented on #273
This has been fixed in [v2.8.1](https://github.com/rokucommunity/vscode-brightscript-language/releases/tag/v2.8.1)

[2020-08-14 22:32] #273 closed

[2020-08-17 13:42] Semenone opened #274 "After update 14.08.2020 - Has a problem with rootDir"
After update 14.08.2020 - Has a problem with rootDir (rootDir does not exist at "/rokuapp") with paths "rootDir": "../../rokuapp" and "rootDir": "~Downloads/rokuapp". Trying on MacOS Catalina 10.15.6 and Windows 10. On Windows it looks for the file in an unknown order, and if it does find it, then (connect ECONNREFUSED 192.168.0.100:8060) - it my host("host": "192.168.0.100",)

[2020-09-01 15:59] chrisdp opened #275 "Indentation Rules do not consider conditional complilation"
Roku supports conditional complication and currently it is not detected by the indentation rules. See this documentation for examples:

https://developer.roku.com/en-ca/docs/references/brightscript/language/conditional-compilation.md

[2020-09-18 00:47] FrederickEngelhardt opened #277 "[windows & mac] error validating workspace: cannot read property 'toLowerCase' of undefined"
Popup reads as followed. Is there a way to disable this popup?
[code]

Currently using brighterscript. Was not getting this error a couple days ago...

[2020-09-18 00:58] FrederickEngelhardt commented on #277
Closing. Looks like I missed an XML closing tag which resulted in this issue.

[2020-09-18 00:58] #277 closed

[2020-09-18 04:43] TwitchBronBron commented on #277
Yikes! Could you provide the xml file that was missing the closing tag? I definitely want to find the issue causing those popups, and prevent them.

[2020-10-01 03:12] TwitchBronBron commented on #274
Hey, sorry for the late response on this. Are you still having issues with the latest release?

[2020-10-14 21:24] georgejecook opened #280 ""View transpiled file" preview should include plugin manipluations"
currently we get the raw brighterscript; what a joy and aid to plugin developers if we could see the actualy code as roku-deploy will write, post plugin manipulations. I'd see this being useful for brs, xml and bs files.

[2020-10-14 21:25] georgejecook opened #281 "transpile preview does not sync view location on show"
such a lovely feature; a shame to have to go back to the source pain and navigate to the line I came from.

[2020-10-14 21:25] georgejecook opened #282 "2-way "view transpiled file" preview window click sync"
currently only does nav sync when clicking somewhere in source; would be awesome to click a transpiled line and have the source pane navigate to it.

[2020-10-14 23:48] TwitchBronBron commented on #280
The way I understand it, it should be that way already. We call file.transpile() at the time of you clicking the "view preview" button, so if the plug-in has manipulated the ast, you will see it in the preview.

[2020-10-14 23:54] TwitchBronBron commented on #282
There is already logic to handle this. https://github.com/rokucommunity/vscode-brightscript-language/blob/736264d7f53e953fcdd9c42b852cf592dd9ddfd1/src/commands/BrighterScriptPreviewCommand.ts#L48

[2020-10-15 00:15] TwitchBronBron commented on #281
I don't fully understand. Can you be more specific, give some steps on how you want it to work?

[2020-10-30 17:38] DusanLesan opened #283 "Publish extension to open-vsx.org"
Hello. Could you please publish brightscript-language extension to open-vsx.org in addition to the VS Code Marketplace.
This will allow VSCodium users to find your extension.

[2020-10-30 19:25] TwitchBronBron commented on #283
Sure! I'll look into this. Thanks for asking. :)

[2020-11-11 12:01] TwitchBronBron commented on #283
@DusanLesan Done!

https://open-vsx.org/extension/RokuCommunity/brightscript

[2020-11-11 12:01] #283 closed

[2020-11-11 13:30] DusanLesan commented on #283
Thanks. My VS Code did automatic update on it's own now

[2020-11-11 23:45] TwitchBronBron commented on #193
Closing due to lack of response from question author.

[2020-11-11 23:45] #193 closed

[2020-11-18 11:03] TwitchBronBron commented on #274
I believe we resolved this issue in a previous release, so I'm closing this.

[2020-11-18 11:03] #274 closed

[2020-11-18 14:15] chrisdp opened #284 "MOD is not colored like other operators"
![image](https://user-images.githubusercontent.com/9591618/99541060-bb51f880-2986-11eb-844e-e2d7dfa8464e.png)

compared to the following:
![image](https://user-images.githubusercontent.com/9591618/99541237-f3593b80-2986-11eb-8074-e59b35bff936.png)

[2020-11-25 11:44] #284 closed

[2020-11-25 11:44] TwitchBronBron commented on #284
Mod wasn't even included in the syntax highlighting file for some reason. This has been fixed and will be included in the next release.

[2020-12-29 10:12] georgejecook commented on #280
this is not the case.

[2020-12-29 11:06] TwitchBronBron commented on #280
Can you please list all of the plugin hooks you are using.

[2021-01-07 06:20] M-VINOTH opened #288 "Work with the component Library in Visual Studio"
Hello All,

Work with the component library in Visual Studio

I started to use the VS Code for development, here I have some doubt about ComponentLibrary and componentLibrariesPort.

CreateObject("roSGNode","LOCAL_COMPONENT_LIBRARY_ID:COMPONENT_NAME"),

it's throwing an error:  BRIGHTSCRIPT: ERROR: roSGNode: Failed to create roSGNode with type FormFields invalid

1. How to access the local Compone

[2021-01-17 18:46] TwitchBronBron commented on #288
Component library support in the extension is limited to debugging entirely local copies of the component library. The workflow in the extension is something like this:
1. package the main app
2. package each component library as specified by the `componentLibraries` object
3. start up an http server, and serve up the component libraries from the local packages

With this approach, you need to exp

[2021-01-18 17:24] wgsplc commented on #288
Thank you @TwitchBronBron ,I think this will get work. Let me try this.

Thanks for the response once again.👍

[2021-01-29 22:20] lkipke opened #290 "Console pops up with error messages on save"
Hello,

Whenever I save a `.brs` file in my project with this extension enabled, the console output pops up and displays a bunch of error messages:
![Screen Shot 2021-01-29 at 2 16 08 PM](https://user-images.githubusercontent.com/11684087/106332991-a7572c80-623c-11eb-864f-341dd6c7cc4d.png)

This is particularly frustrating, because I don't normally have the console open -- it appears that the exte

[2021-01-30 02:58] TwitchBronBron commented on #290
Hey, we must have introduced a bug in the language server recently. Both BrightScript and BrighterScript use the BrighterScript language server to provide `goto`, function hints, completions, etc. Do you know if there's any specific action that causes this to happen regularly? I'd like to try and reproduce it on my machine so I can get to the bottom what is causing the errors.

[2021-01-30 18:52] TwitchBronBron commented on #283
@DusanLesan I just wanted to check in and see how the open-vsx releases have been working for you? All good?

[2021-01-30 18:56] DusanLesan commented on #283
Thank you very much for checking. Everything is alright. The latest version is available for me (2.14.0)

[2021-01-30 18:58] TwitchBronBron commented on #283
Great, glad to hear it! Thanks.

[2021-01-30 20:46] TwitchBronBron commented on #290
I found the issue. I submitted [BrighterScript PR #294](https://github.com/rokucommunity/brighterscript/pull/294), so this should get released in the next day or two.

[2021-01-31 20:53] TwitchBronBron commented on #290
Release v2.14.1 fixes this issue. Give it a try and let me know if you still see any issues.

[2021-01-31 20:53] #290 closed

[2021-02-15 10:13] georgejecook opened #292 "log links to wrong functions in output pane"
when the output is pretty printed, it's possible to get the wrong functioname.

![image](https://user-images.githubusercontent.com/1214545/107933242-c533c980-6f7e-11eb-90a9-185eb688e6d7.png)

[2021-02-15 10:39] georgejecook commented on #292
sorry for noise. was caused by me rocking an out of date roku-debug, while trying to investigate the hung LSP issue.

[2021-02-15 10:39] #292 closed

[2021-02-17 16:02] xoceunder opened #293 "ComponentLibrary this file"
I have a problem that I am using ComponentLibrary to be able to load templates but under a zip but the zip is as encrypted
@AlejandroJL

[2021-02-17 16:26] chrisdp commented on #293
@xoceunder can you give some more details as to what issue(s) you are seeing?

For example: is the Component Library failing to load, are you trying to debug the Component Library itself, etc.

[2021-02-18 13:57] xoceunder commented on #293
Here is the application that I am managing to clone to be able to make different changes
https://github.com/xoceunder/IPTVSmartersProRoku

@chrisdp

[2021-02-18 13:58] luis-soares-sky opened #294 "Language Server loses context and starts spitting errors during debugging sessions"
While running a debug session in VS Code, the editor will often lose context of the project, and only one file (or set of files) will be considered.

The most recent time this happened, I happened to open a file inside a folder that's not included in bsconfig's files (it's within a `build/` folder). While I'm not sure if it's related at all, I looked at the BrighterScript Language Server, and this

[2021-02-18 20:04] TwitchBronBron commented on #294
This is definitely a bug in the Language Server, which resides in the BrighterScript project.

[2021-02-18 20:04] #294 closed

[2021-02-18 20:50] TwitchBronBron commented on #294
This has been fixed in vscode-brightscript-language@2.17.1

[2021-03-01 11:14] chrisdp commented on #293
Hey @xoceunder, after looking at the repo it looks like you your project is loading a remote component library. The extension only support working on component libraries in which you have access to the source code for.

[2021-03-01 11:17] chrisdp opened #295 "Cannot read property 'getCodeActions' of undefined"
I haven't had time to see if this is still an issue on the latest release but it was not in the patch notes. This is an error I have been seeing lately in the BrighterScript Language Server Logs. I unfortunately do not have steps to replicate as this has been sporadic but frequent.

[code]

[2021-03-01 13:32] xoceunder commented on #293
is there any way to get the code
@chrisdp

[2021-03-01 14:18] chrisdp commented on #293
The extension does not have support for extracting code from a component library.

The current support is limited to packaging your source code into a zip and staticky hosting the files on your local computer so that you can load the code in your Roku channel for development.

If you need access to the source code to make modifications you will need to reach out to the code owners of the library y

[2021-03-02 18:34] chrisdp opened #296 "Update component library docs"
Based on some feedback it might be good to take some time and improve the documentation around component library support and its limitations.

Things to clarify:
source code access
remote libraries
url to use in Roku code
more details about what the extension is doing

If anyone has more things they would like clarified please add below!

[2021-03-05 11:57] TwitchBronBron commented on #295
I believe this issue has been resolved, so I'm closing.

[2021-03-05 11:57] #295 closed

[2021-03-05 11:58] TwitchBronBron commented on #293
We don't have any current plans of supporting debugging component libraries for which you don't have the source code, and especially not encrypted component libraries.

[2021-03-05 11:58] #293 closed

[2021-03-09 16:11] chrisdp opened #297 "visible key colored like a function"
In the below image you can see `visible` is being colored like a function when used as a key in an object.

![image](https://user-images.githubusercontent.com/9591618/110501273-63273980-80d0-11eb-9fca-932269cd2e0e.png)

[2021-03-24 20:00] TwitchBronBron opened #299 "Run language server from node_modules"
Similar to the [TypeScript tsdk option](https://code.visualstudio.com/docs/typescript/typescript-compiling#_using-the-workspace-version-of-typescript), we should support targeting a specific version of the language server.

[2021-03-24 20:23] #297 closed

[2021-04-13 14:24] chrisdp opened #301 "Add basic chanperf tracking"
Added in FW 10: https://developer.roku.com/docs/developer-program/debugging/debugging-channels.md#scenegraph-debug-server-port-8080-commands

I will be starting this today. First pass is just focused on adding the tracking and using a native VS code view. Long term it would be great to graph this over time in some sort of web view but we can do that in its own pass.

[2021-04-15 12:37] chrisdp opened #304 "Breakpoints can fail to be injected if path casing does not match"
Is some situations on a case insensitive OS VS Code will cache the old file casing.

For example:
I have something like - `/components/modules/simpleRowListItem/simpleRowListItem.bs`
and I change it to => `/components/modules/SimpleRowListItem/SimpleRowListItem.bs`

The extension will still be looking for `out/.roku-deploy-staging/components/modules/simpleRowListItem/simpleRowListItem.bs`
As a res

[2021-05-04 00:48] chrisdp commented on #301
https://github.com/rokucommunity/roku-debug/pull/30

[2021-05-04 00:49] #301 closed

[2021-05-12 13:12] luis-soares-sky opened #311 "Publish errors "500" or "write EPIPE" with Big Sur"
Me and some of my colleagues have recently upgraded to macOS Big Sur (11.3.1), and we've started having errors during the publish process while launching a debug session. The error is somewhat inconsistent and doesn't happen everytime, but can either be an error 500 coming from the box itself, or a write EPIPE (albeit less common).

All the extension outputs is this:

[code]

After modifying the e

[2021-05-12 22:01] chrisdp commented on #311
@luis-soares-sky Thanks for all the details! We will keep you updated as we try to find the root cause of the issue.

[2021-05-18 13:27] luis-soares-sky commented on #311
Some extra information from a colleague of mine with the same issue:

I've only done this once so it could be a coincidence, but I was purposefully keeping changes to a minimum for testing purposes and that command was literally the only thing I did: no code changes, no app restarts

[2021-05-19 10:42] chrisdp commented on #311
@luis-soares-sky question for your team. Does your teammates tend to use the reload option or do they stop -> start between debug sessions?

[2021-05-19 17:33] luis-soares-sky commented on #311
It's a mixed bag, some (includingme) use the reload option more often, while others use stop -> start because reload was giving them issues (even before Big Sur, reload sometimes wouldn't deploy the app).

[2021-05-19 19:42] chrisdp opened #312 "genkey command not working"
![image](https://user-images.githubusercontent.com/9591618/118874360-31e19b80-b8c1-11eb-8be3-fd4d05517190.png)

[2021-05-19 20:20] TwitchBronBron commented on #312
Resolved by #313

[2021-05-31 07:38] Puritanic opened #314 "outDir required and staging dir empty - Issues with 2.22.1"
It looks like there are some issues with the latest release. Deploying app to the device now requires that we have `outDir` field added to VSCode launch.json. It's working without it in 2.22.0.

My launch task:

[code]
With this, I'm receiving this error:

If I add `outDir` to the task above (`"outDir": "${workspaceFolder}/out"`), then I'm receiving this error:

By setting the `retainStagingFolder

[2021-05-31 10:58] DusanLesan opened #315 "No BrightScript Log option in output"
Since the latest update 2.22.1, I have lost the option "BrightScript Log" in the output drop-down. Also, I have noticed other issues like error detection is not working, we cannot follow function calls with ctrl+click...
Previous version:
![pic-selected-210531-1240-42](https://user-images.githubusercontent.com/20520590/120183180-a694ce00-c20f-11eb-966e-84ef2461dfe9.png)
New version with same code:

[2021-05-31 13:21] bkdev98 commented on #314
Same here 😅

[2021-05-31 13:55] Allan-Nava commented on #314
Same problem here!

[2021-05-31 15:48] alexlukhanin commented on #314
Same problem. Reverting back to 2.22.0 fixed this issue for me too.

[2021-06-01 02:14] livecano commented on #315
I noticed this as well and also can't find a way to load .env variables into the launch.json since the latest update.

[2021-06-01 03:43] vinoth-discovery commented on #314
Same problem..

[2021-06-01 22:01] koganiz commented on #314
Same here.

[2021-06-02 01:45] mchoo-swm-qa commented on #314
Same here

[2021-06-02 03:08] KennyOrellana commented on #314
Same here.

[2021-06-02 03:24] #314 closed

[2021-06-02 03:24] #315 closed

[2021-06-02 03:59] TwitchBronBron commented on #244
This has been resovled in v2.22.2 and was caused by a missing prod dependency in roku-deploy

[2021-06-02 04:00] TwitchBronBron commented on #315
This has been resovled in v2.22.2 and was caused by a missing prod dependency in roku-deploy

[2021-07-23 15:10] triwav opened #319 "Add support for jump to line from Roku log output"
If we get something like
[code]
then we should to click on the pkg part to jump to that line.

[2021-07-25 14:16] chrisdp commented on #319
Right now if we have enough information to find the file we will open it for you on compile error. Also with your example what it a full path or did it actually have the ... in it?

I feel like we do support this now so I'm wondering if it's a format thing.

[2021-07-25 16:28] triwav commented on #319
Yeah it did seem like it worked some in the past and yes it's a full path it gave

[2021-08-01 16:25] DusanLesan opened #320 "launch.json is sourced before being saved"
I have a habit to hardcode the host value in launch.json file. Also I am usually relaying on autosave on run. Because of this, I am encountering a small issue when running the debugger.
For example, if I have hardcoded host IP to be 1.1.1.1 and want to switch to other device, I would go to launch.json and change the IP to match second device. Without saving the file I would run the debugger expect

[2021-08-01 16:34] chrisdp commented on #320
In your example you're saying this happens when you modify the launch.json and do not save it and rely on the auto save for that file as well as your workspace files?

If so there isn't much we can do to address that as the contents on the launch configuration is supplied by vs code it self. Our extension is provided a launch configuration by VS Code when you run we don't look it up.

That being s

[2021-08-01 16:48] DusanLesan commented on #320
@chrisdp Thank you for the response. That is right, issue is with me not saving on my own. I was hoping that we can modify the extension to have it save all before continuing with anything else. You can close the issue if nothing can be done on extension side

[2021-08-01 16:52] chrisdp commented on #320
Yea, the save on run is a VS Code level setting so there isn't anything we can do.

Thanks for filing the issue! Please open any other problems or improvements you think we can make!

[2021-08-01 16:52] #320 closed

[2021-08-05 14:04] miad83 opened #321 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `brightscript`
- Extension Version: `2.22.3`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.58.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-08-05 21:03] TwitchBronBron commented on #321
can you please provide more information? :)

[2021-08-13 14:15] georgejecook opened #322 "would be great if the IDE gave more warnings about illegal breakpoints/prevented it"
For example, setting a breakpoint in the middle of an aa declaration, like on line 3 here
[code]

will not result in any IDE feedback; but compilation cryptically fails.

[2021-08-16 08:54] songhailiang opened #323 "Makefile supported?"
Hello,
Here I have a question about debugging.
I'm using a Makefile with `make install` command to deploy the app to Roku device in my project.
Is this supported in this extension to debug?
Thanks.

[2021-08-16 11:05] TwitchBronBron commented on #323
The extension needs to be in control of creating the zip and deploying it to the Roku.

If your build process is simply zip creation and deployment, then you can use the files array in the vscode launch config to specify the list of files and you're good.

If your make process is more involved, then you will need to customize your make process to place all your files into a staging directory and t

[2021-08-25 20:42] codygman opened #324 "Roku app built with this plugin fails Channel Behavior Analysis"
![MicrosoftTeams-image (3)](https://user-images.githubusercontent.com/225847/130861228-a183e9d5-5ba8-463a-8a9b-fe1418b35e34.png)

Plug in version: 0.2.2

[code]

I'm pretty new to roku and building this app for the first time, but I think maybe whatever this plugin uses to build the roku app might be a little out of date, but worse roku made a breaking change or has a capitalization error in their

[2021-08-25 20:43] #324 closed, assigned to nobody

[2021-08-30 17:22] khalilllk opened #325 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `brightscript`
- Extension Version: `2.22.3`
- OS Version: `Windows_NT x64 10.0.18363`
- VS Code version: `1.58.2`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`c:\Users\ENG~1.KHA\AppData\Local\Temp\RokuCommunity.brightscript-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/w

[2021-09-08 19:29] TwitchBronBron commented on #323
Closing this since I believe the question has been answered.

[2021-09-08 19:29] #323 closed

[2021-09-22 17:11] TwitchBronBron opened #326 "Document how to run bsc in watcher mode"
There's a nice pattern where you can run the bsc compliler in watch mode, which reduces the impact of slow compile times. We should document how to set this up, and maybe add it to the brighterscript-template project too so devs can try it out.

[2021-09-23 14:45] TwitchBronBron opened #327 "Support preprogrammed keypresses"
Add support for pre-programming keypresses to send to a roku device. Here is an example:
[code]
Here are the features it should support:
- send roku remote presses ("ok", "left", "right", etc...).
- send text
- pause for a specified duration
- pause and monitor the output log until a regular expression match is found
- reference other remote sequences by name to reduce duplication

[2021-09-24 20:23] triwav opened #328 "Unclosed #if causes lots of errors to be spit out"
If you start typing a conditional compilation if as soon as you you finish the `#if` it start throwing errors and switch the output window you're on

[code]

[2021-10-15 16:10] luis-soares-sky commented on #311
Found the culprit: Falcon CrowdStrike 6.17 had a network layer that corrupted POST requests with payloads.

Closing.

[2021-10-25 22:32] chrisdp opened #329 "throw is not colored"
![image](https://user-images.githubusercontent.com/9591618/138779830-cb2a5ac8-dba5-4c4e-a46f-8006d5b67417.png)
The error in the photo is a result of: https://github.com/rokucommunity/bslint/issues/48

@TwitchBronBron we might want to maybe update the language server to see it as an assigned variable in the catch block?

[2021-10-26 11:34] #329 closed, assigned to nobody

[2021-10-30 11:54] luis-soares-sky opened #332 "Add support for VS Code for the Web"
Github "recently" created github.dev (press `.` while viewing a project/PR) which uses the web version of VS Code. However, the BrightScript Language extension isn't supported at all.

![image](https://user-images.githubusercontent.com/57358121/139531723-899d99a0-7700-449e-9a4e-98b6bdca83ae.png)

So it would be great if the extension was (at least partially) supported by the web version of VSC, so

[2021-10-30 11:57] TwitchBronBron commented on #332
I'm definitely open to supporting this! There is a LOT of nodejs-specific code in the extension, so I'm not sure what all it would take to get the extension fully operational, but even if we could just get syntax highlighting working, that would be a great start.

[2021-10-31 00:43] TwitchBronBron commented on #332
FYI, I'm reading the docs about this. I'll try to play around with a basic implementation in the next week or so. Colorization should be very simple.

[2021-10-31 11:39] TwitchBronBron commented on #332
@luis-soares-sky I just submitted #333 which adds the minimal required info to get the extension to launch in the browser. Almost none of the features will work right now, as we need to refactor the build process to bundle for web.

[2021-11-11 15:02] TwitchBronBron commented on #332
@luis-soares-sky did you have a chance to test it out yet? Are there additional features you'd like to see sooner rather than later?

[2021-11-11 17:13] luis-soares-sky commented on #332
I believe the immediate requirement from our team was mainly syntax highlighting, as that's mostly what we use the web version for. Some of us have tested it and it seems to be running smoothly!

[2021-11-11 22:55] lumpenprole opened #337 "Registry information wiped on deploy"
The latest update seems to wipe all registry information on deploy causing me to have to log in to the application I'm developing each time I deploy. I'm currently trying to deploy with vanilla roku-deploy to see if that is the issue, but it's taking some work.

[2021-11-11 22:57] chrisdp commented on #337
Hey @lumpenprole we found the issue a couple days ago. It was due to a small change we made that deleted the channel before side loading. If your device was not rekeyed to the same key as one of your installed applications it would cause this issue. An update should be coming out soon to fix this.

[2021-11-11 23:11] lumpenprole commented on #337
Fantastic! Thank you!

[2021-11-12 01:04] TwitchBronBron commented on #337
This is fixed in the latest release (v2.24.1). Sorry for the delay getting this out.

[2021-11-12 01:04] #337 closed

[2021-11-12 10:11] luis-soares-sky opened #338 "Add flag to disable "Deleting sideloaded channel" during debug start"
As of Roku OS 10.5, the registry appears to be cleared every time the sideloaded app is explicitly deleted (`mysubmit=Delete`) before installing. Due to this, we are forced to login on every launch of our app via VSC, because the extension runs `Deleting existing sideloaded channel (if there is one)`.

Is it possible to add a setting that allows us to disable this behaviour?

[2021-11-12 11:42] TwitchBronBron commented on #338
We actually just fixed this issue.. See https://github.com/rokucommunity/vscode-brightscript-language/issues/337

[2021-11-12 19:32] lumpenprole commented on #337
Thanks for the prompt action!

[2021-11-30 17:32] #338 closed

[2021-11-30 17:40] TwitchBronBron opened #339 "Support for beta releases"
VSCode doesn't currently support beta releases, but according to https://github.com/microsoft/vscode/issues/15756 it might be coming soon. However, that fix requires us to [play games](https://github.com/microsoft/vscode/issues/15756#issuecomment-916728348) with our release version numbers since the vscode extension marketplace doesn't support prerelease data in version numbers. I'd rather not hav

[2021-11-30 17:43] TwitchBronBron opened #340 "Add telemetry tracking"
We should add telemetry support in the extension so we can track what features are being used frequently, what errors are being encountered, etc. Once #339 lands, this would help us know how many people are using the beta release which gives us confidence that a feature is stable.

[2021-12-01 17:32] TwitchBronBron opened #341 "Use PseudoTerminal for "SceneGraph Debug Commands""
Remove the "SceneGraph Debug Commands" output panel and instead create a [PseudoTerminal](https://github.com/ShMcK/vscode-pseudoterminal).

[2021-12-13 09:39] kamaveze opened #343 "Hiring - brightscript coder"
Please dm
tnx

[2021-12-13 15:37] TwitchBronBron commented on #343
This is not the place for soliciting job applicants.

[2021-12-13 15:37] #343 closed

[2021-12-16 19:23] TwitchBronBron opened #346 "Support inheriting launch config"
Many launch configs share a lot of code. We should support inheriting launch config data. Something like this:

[code]

In this situation, the `"extends"` key for the second launch configuration would inherit all of the keys from the first launch config entry, and then override with any keys that it has (typical json `Object.assign()` functionality)

[2021-12-28 21:04] DusanLesan opened #347 "If and If Else snippets to include then"
I have seen that in most places adding `then` keyword in every `if` and `else if` is a standard. Could you update your snippets in vscode-brightscript-language/snippets/brightscript.json to include `then` keyword?
Furthermore, If Else snippet should have a third jumping point after else.

Something like:

[code]

[2021-12-28 21:30] chrisdp commented on #347
I wouldn't consider the `then` statement as standard. It's an optional key word and really comes down to individual coding standards.

[2021-12-28 21:38] DusanLesan commented on #347
@chrisdp You may be right. Is it possible then to make this part dynamic and set it based on user preference?

[2021-12-28 21:40] chrisdp commented on #347
@TwitchBronBron would know more about if it could or could not be set dynamically.

As for a setting we would have to think how because this falls more in the territory of a linter like BSLint.

[2021-12-28 21:44] DusanLesan commented on #347
Other possibility would be to override the snippet directory in brightscript plugin for vs code.

[2022-01-06 14:22] TwitchBronBron commented on #347
Snippets are defined statically in the extension's package.json so I don't think we can dynamically set these.

However, if you'd like, we can add another differently-named snippet which includes the `then`? The current trigger for an if statement without `then` is `if`. How about we add `ift` which would include the `then`?

**Current:**
| Trigger word | Snippet |
| ------------- | -------------

[2022-01-06 15:07] DusanLesan commented on #347
I do not like that as much as setting my own path to my snippets.json in plugin settings.

[2022-01-06 15:12] TwitchBronBron commented on #347
vscode requires that all extension-contributed snippets be defined in the package.json of the extension, and vscode does not allow us to reassign them at runtime.

You can add your own snippets in vscode directly without the need for any support from our extension.

![Animation](https://user-images.githubusercontent.com/2544493/148404547-9d2abeac-3dd3-4ebf-8016-632eb3816310.gif)

[2022-01-06 15:21] DusanLesan commented on #347
@TwitchBronBron That is what I need. It is bad experience to have duplicates I do not want but that is the same as if you add ift/ift-else. Thank you for the help and information

[2022-01-06 15:21] #347 closed

[2022-01-06 15:27] TwitchBronBron commented on #347
You can hide unwanted snippets as well:
![Animation](https://user-images.githubusercontent.com/2544493/148406924-1d38f3c9-e56b-40c8-9f0a-abd7716deb7e.gif)

[2022-01-06 15:33] DusanLesan commented on #347
Awesome. All is great now

[2022-01-11 15:40] chrisdp opened #349 "Step incorrectly highlighted"
![image](https://user-images.githubusercontent.com/9591618/148973722-bcaa1275-2642-4297-a60a-028bf3a42da9.png)

[2022-01-14 02:27] #349 closed

[2022-01-20 16:24] TwitchBronBron opened #352 "Syntax highlighting bug for `in` text inside variable"
![image](https://user-images.githubusercontent.com/2544493/150379496-dc32cd1e-684a-4cf0-875a-c8cac140bb89.png)

Notice the "in" from `isLoggedIn` has a different color.

[2022-02-04 02:51] chrisdp opened #356 "hide is highlighted incorrectly"
![image](https://user-images.githubusercontent.com/9591618/152464313-7dd26613-835b-44c7-b2ee-7a521bbc3b54.png)
[code]

[2022-02-04 12:35] TwitchBronBron commented on #356
That variable is being colorized based on [this rule](https://github.com/rokucommunity/vscode-brightscript-language/blob/697982e580b7f9ffaba4665fa817f1bbdc4a8b1e/syntaxes/brightscript.tmLanguage.json#L578).
![image](https://user-images.githubusercontent.com/2544493/152529105-237957a6-1696-4686-b6b2-fff9669a0027.png)

Perhaps we should just delete this matcher entirely. It's been there since the be

[2022-02-04 13:37] TwitchBronBron commented on #356
Based on our discussion, all of these built-ins should be removed from the syntax highlighting, and the language server will send semantic tokens instead.

[2022-02-24 15:04] TwitchBronBron opened #361 "syntax highlighting issue for end sub preceeded by colon"
The `end` should be blue. Adding a space makes it blue correctly.

![image](https://user-images.githubusercontent.com/2544493/155550045-34b2dac5-d39c-4815-814b-e6e68f4898bd.png)

[2022-02-24 20:12] TwitchBronBron opened #362 "Syntax highlighting issue for comment in enum"
The comment should be colored like a comment.

![image](https://user-images.githubusercontent.com/2544493/155599982-2f1c489c-8115-4a0c-9d44-52651f85bae6.png)

[2022-03-05 10:28] luis-soares-sky opened #364 "Syntax highlighting issue when using "Function" as an argument type"
When using `as Function`, the next two lexemes will display in red (as if it was part of the "function" token) and purple (as if it was a function name).

<img width="615" alt="image" src="https://user-images.githubusercontent.com/57358121/156879237-1bbb34aa-54b7-4730-8020-c6ded86ad6a5.png">

If I add whitespace after `as Function`, then it'll look right.

<img width="632" alt="image" src="https:/

[2022-03-05 13:42] #332 closed

[2022-03-08 18:00] TwitchBronBron opened #365 "inject source locations for better debug logs"
The debug protocol supports adding file/line/column info for every debug console output log line. It would be great to add support for tracking these in debug launches.

By default:
- inject a string at the beginning of every print statement.
[code]

[2022-03-17 15:14] TwitchBronBron opened #367 "Rendezvous timing issue"
When rendezvous logging is enabled, sometimes entries are missing the completion time. in our rendezvous tree view, right now we're ignoring rendezvous entries if their total time is 0. However, we need to show the total time even if 0ms, because there might be entries with no recorded time where we still want to show the rendezvous count.

03-17 14:36:29.108 [beacon.signal] |AppLaunchComplete ---

[2022-03-22 17:57] #364 closed

[2022-03-22 19:15] TwitchBronBron opened #372 "Syntax highlighting bug"
#371 introduced a syntax highlighting bug:
![image](https://user-images.githubusercontent.com/2544493/159558130-19d1b7e8-460d-4879-961b-442dec5101f5.png)

![image](https://user-images.githubusercontent.com/2544493/159558137-81dde20d-4992-4675-a69d-a7563ead560f.png)

[2022-03-22 19:33] luis-soares-sky commented on #372
Another similar scenario:

![image](https://user-images.githubusercontent.com/57358121/159561139-a32c353f-aec1-490b-902f-4c4d52243df9.png)

[2022-03-23 18:42] TwitchBronBron commented on #372
I rolled back the syntax highlighting to the previous version for now, in release v2.29.3. I'll work on addressing these issues and try again in the future. :D

[2022-03-25 15:51] TwitchBronBron opened #374 "Warn if package is too large"
On lower-end devices, uploading very large packages can take a long time. We should consider warning users if their packages are too large. I maintain this extension, and it took me 10 minutes to realize why the app wouldn't ever sideload...

I think something like 12-15 MB is a good size. Perhaps make this size configurable, which would allow people to make it really large if they want to complet

[2022-03-27 04:29] #340 closed

[2022-03-27 04:31] #299 closed

[2022-03-27 04:32] chrisdp commented on #280
@TwitchBronBron this was added recently correct?

[2022-03-27 04:33] chrisdp commented on #275
This has been fixed. Closing.

[2022-03-27 04:33] #275 closed

[2022-03-27 04:34] #239 closed

[2022-03-27 04:36] chrisdp commented on #164
Fixed over time. Closing.

[2022-03-27 04:36] #164 closed

[2022-03-27 04:38] chrisdp commented on #226
Update to this issue:
![image](https://user-images.githubusercontent.com/9591618/160266886-1e2a68a5-dd6f-4b5f-b847-c8c42dd5f29a.png)
![image](https://user-images.githubusercontent.com/9591618/160266898-2627f289-0521-45b0-982d-ac53cebcfadc.png)

[2022-03-27 04:43] chrisdp commented on #61
This issue hasn't been completely resolved. That being said we add some commands used in this process such as gen key and such. Something we still need to revisit. We have been talking about some sort of set up wizard. If that becomes a reality it might be possible to support this at that point since we would know a lot more about the project set up.

[2022-03-27 04:44] chrisdp commented on #35
@georgejecook I assume this issue is really a problem anymore? Can we close this issue?

[2022-03-27 05:17] TwitchBronBron commented on #280
Yes.

[2022-03-27 05:17] #280 closed

[2022-03-27 05:20] TwitchBronBron commented on #226
This is a weird syntax. What's the use case for that? Could you call `next <some other variable>`? If so, what does it do? In order to support this functionality, I need to know how it functions so the language server can build the AST.

[2022-04-05 15:00] LasseDenecken commented on #4
@TwitchBronBron I'm not able to get this to work with a **clean vscode installation** and **without using brighterscript**.
Here is what I did:
1. Installed vscode
2. Installed the vscode-brightscript-language extension
3. Created the most basic roku app (manifest, source/main.brs, components/AppScene.xml, components/AppScene.brs)
4. Added the default launch.json (and changed the host)
5. Added "d

[2022-04-07 18:30] TwitchBronBron commented on #4
Hmm. I'm having trouble getting this to work as well. This must have broken at some point. @chrisdp we might want to take this opportunity to revisit the ECP/Deep Linking logic in general. Perhaps inject the values on the first line of the main function?

[2022-04-07 19:37] triwav commented on #4
I’m a strong proponent of that approach. The current method requires a restart of the application which is kind of clunky and has issues with the debug protocol as well I believe

[2022-04-07 19:39] TwitchBronBron commented on #4
Do we need to worry about things like URL encoding?=

[2022-04-07 20:29] chrisdp commented on #4
No. The device runs one decode on the way in so we would inject as typed.

[2022-04-07 20:32] chrisdp commented on #4
We should also update it so you can define a deeplink as such:

[code]

[2022-04-07 20:44] chrisdp commented on #4
list of media types from [Roku documentation](https://developer.roku.com/docs/developer-program/discovery/implementing-deep-linking.md#mediatype-behavior):
[code]

[2022-04-07 20:46] chrisdp commented on #4
relates to #192

[2022-04-08 07:04] LasseDenecken commented on #4
@chrisdp besides the actual deeplinking, you can also run the [unit-testing-framework](https://github.com/rokudev/unit-testing-framework) via deeplink.
Running tests has been mentioned in this issue: https://github.com/rokucommunity/vscode-brightscript-language/issues/53

[2022-04-11 13:30] TwitchBronBron opened #378 "Better settings organization"
vscode has a nice user interface for settings. You can include categories that help group the settings visually. Like this:
![image](https://user-images.githubusercontent.com/2544493/162749830-6595358f-3b5d-4edb-8e99-ef420180a921.png)

We should do the same thing for our various settings. Categories like `Formatting`, `Debugging`, etc...

See [this gitlense package.json](https://github.com/gitkrak

[2022-04-12 12:15] chrisdp commented on #246
Fixed as part of release [v2.30.1](https://github.com/rokucommunity/vscode-brightscript-language/blob/master/CHANGELOG.md#2301---2022-04-07)

[2022-04-12 12:15] #246 closed

[2022-04-12 12:17] chrisdp commented on #238
Updating to say this issue is still relevant and would not belong in the Docs website. The documentation website is auto generated form the contents of `/docs` in this repository.

[2022-04-13 13:44] #188 closed

[2022-04-13 13:44] #236 closed

[2022-04-13 13:44] #367 closed

[2022-04-20 21:06] TwitchBronBron opened #385 "Add enums to the various symbol providers"
Enums don't show up in symbol providers...they should.

(I would expect to see `Direction` in the list)

![image](https://user-images.githubusercontent.com/2544493/164322931-62502b78-be64-4803-82e3-1f56732b4cce.png)

[2022-04-26 13:16] TwitchBronBron commented on #32
Looks like that feature has landed. Here's how we would contribute the icon:
https://github.com/microsoft/vscode/issues/140047#issue-1092683537

[2022-04-26 13:18] TwitchBronBron commented on #116
@chrisdp @triwav is this still an issue?

[2022-04-26 13:21] TwitchBronBron commented on #122
The language server was launched several years ago. I don't believe there's any need for this feature request anymore.

[2022-04-26 13:22] TwitchBronBron commented on #187
This was implemented in #375

[2022-04-26 13:22] #187 closed

[2022-04-26 13:25] TwitchBronBron commented on #227
@triwav do you think there's anything we can do on our end to mitigate this? Would you still like to see this featured fixed? Perhaps we could add a dedicated extension setting to allow you to define these in user settings instead?

[2022-04-26 13:26] TwitchBronBron commented on #237
This will be handled by https://github.com/rokucommunity/roku-debug/issues/68

[2022-04-26 13:34] #126 closed

[2022-04-26 13:35] #28 closed

[2022-04-26 13:35] georgejecook commented on #26
I'd still like this..

[2022-04-26 13:35] #22 closed

[2022-04-26 13:35] #21 closed

[2022-04-26 22:05] chrisdp commented on #26
@georgejecook could you give some more details on what this request is exactly? I'm just not farmilar with what you are referring to myself.

[2022-04-26 22:07] chrisdp commented on #116
I don't think so... @triwav thoughts?

[2022-04-27 07:15] georgejecook commented on #26
sure: https://egghead.io/lessons/vs-code-expand-and-shrink-selection-with-vscode

[2022-04-27 07:20] georgejecook commented on #26
the command has a default implementation; but as you can observe (I keep ressing my hotkey for expand "selection command", from command palette), it doesn't understand roku syntax, like functions, or dotted gets, or call funcs
![expandselection](https://user-images.githubusercontent.com/1214545/165463411-e9e43b03-0123-4ce8-b0ba-61ac53a384d5.gif)

[2022-04-27 14:56] #116 closed

[2022-05-04 17:09] TwitchBronBron opened #387 "Restart debug session not closing telnet connection"
There are still issues with the "restart debug session" feature. Sometimes it fails with a "port 8080 already occupied" error.

[2022-05-06 22:12] Vasya-M opened #388 "Interface param name breaks syntax highlighting"
[code]

<img width="372" alt="image" src="https://user-images.githubusercontent.com/33808928/167222687-9a4e747b-b5be-4f82-8086-563c3e8904d0.png">

[2022-05-11 14:48] philanderson888 commented on #378
First contribution to roku brightscript open source

Pull request https://github.com/rokucommunity/vscode-brightscript-language/pull/390 created and awaiting feedback.

[2022-05-12 19:27] TwitchBronBron commented on #267
I believe this only happens when running with the language server disabled, which falls back to the more primitive "scan every file in the workspace" mode. #391 fixes this issue by excluding the entire `${workspaceFolder}/out` folder when in that mode.

There's nothing that can be done about when in language server mode, because the user specifically maintains the entire list of files in the files

[2022-05-12 19:27] #267 closed

[2022-05-17 17:26] lvcabral opened #393 "Improve Device detection to display in the device list tab"
Currently the extension is only detecting (and listing) devices that are on the main subnet of the computer, the ideal would be to listen to all interfaces and routes. Another improvement could be, when the user enters the device IP manually, if the deployment is successful, also add the device to the list, if not there already.

[2022-05-17 19:31] TwitchBronBron commented on #393
We've been playing with the idea of using all network interfaces, just haven't gotten around to it yet. Is this something you'd be interested in working on?

[2022-05-18 13:16] chrisdp opened #394 "roInteger and roIntrinsicDouble not colored"
![image](https://user-images.githubusercontent.com/9591618/169047500-c199f86f-7fea-4d3f-969e-3754a4e4a2ae.png)
![image](https://user-images.githubusercontent.com/9591618/169047690-ed444998-832f-4ec2-9c2a-241b11123f73.png)

[2022-05-18 13:23] TwitchBronBron commented on #394
roInteger is not a valid component.

[code]

[code]

However, roIntrinsicDouble _is_ valid, so we should fix that one.

[2022-05-18 13:40] chrisdp opened #396 "Enum formating issue with names matching parameter types"
Befor format:
[code]

After format:
[code]

[2022-05-18 14:37] #394 closed, assigned to nobody

[2022-05-19 18:44] chrisdp opened #397 "Wrong colors in AA function names"
![image](https://user-images.githubusercontent.com/9591618/169376658-fc2eae65-6dd0-4dd0-8369-873f0510e35c.png)

[2022-05-26 18:17] TwitchBronBron opened #399 "Add all launch.json options into user settings under `brightscript.debug`"
The debugger currently supports adding any launch.json setting to user settings under `brightscript.debug`. However, almost none of those options are documented, so they show up as "unknown value".

1. Copy (duplicate, don't move) all of the launch.json options into user settings. The naming convention should be `brightscript.debug.<name launch config value>` .

This will result in a _lot_ of dupl

[2022-05-27 18:16] jsfix-updater opened #400 "Assisted upgrade of fs-extra available"
Version 8 of fs-extra is available.
  The JSFIX tool can help you through the update process (**Ensuring that all the necessary changes are made to your project in the process**).
  Use this [link](https://jsfix.live/jsfix/https%3A%2F%2Fgithub.com%2Frokucommunity%2Fvscode-brightscript-language) to start the upgrade process (_It's completely free_).

  Leave a comment on this issue if you have any